html .ck_img,
body .ck_img {
  width: 100% !important;
  height: auto !important;
}
html #promo-block-article .wrapper h1,
body #promo-block-article .wrapper h1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 4.313rem;
  line-height: 5.625rem;
  color: #ffffff;
  font-family: 'Vogue Highline Serif';
  margin-bottom: 70px;
}
html #promo-block-article .wrapper .date-of-article p,
body #promo-block-article .wrapper .date-of-article p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.563rem;
  margin-bottom: 90px;
}
html #article-content,
body #article-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
  padding-top: 90px;
}
html #article-content .wrapper p,
body #article-content .wrapper p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.188rem;
  line-height: 1.875rem;
  margin-bottom: 25px;
}
html #article-content .wrapper .back-to-news-link,
body #article-content .wrapper .back-to-news-link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px 0 110px 0;
}
html #article-content .wrapper .back-to-news-link a,
body #article-content .wrapper .back-to-news-link a {
  text-transform: none;
  font-size: 1.188rem;
  line-height: 1.875rem;
  color: #101bb5;
  border-bottom: 2px solid #101bb5;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html #article-content .wrapper .back-to-news-link a img,
body #article-content .wrapper .back-to-news-link a img {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: -25px;
  top: 3px;
}
html #article-content .wrapper .back-to-news-link a:hover,
body #article-content .wrapper .back-to-news-link a:hover {
  color: #101bb5;
  border-bottom: 2px solid #101bb5;
}
html #article-edit,
body #article-edit {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
}
html #article-edit .wrapper,
body #article-edit .wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
html #article-edit .wrapper .row-edit-btn,
body #article-edit .wrapper .row-edit-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html #article-edit .wrapper .row-edit-btn .btn-edit,
body #article-edit .wrapper .row-edit-btn .btn-edit {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 30px;
  border: 2px solid #101bb5;
  color: #101bb5;
  border-radius: 7px;
  margin-right: 20px;
  background: none;
}
html #article-edit .wrapper .row-edit-btn .btn-delete,
body #article-edit .wrapper .row-edit-btn .btn-delete {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 30px;
  border: 2px solid #ff0000;
  color: #ff0000;
  border-radius: 7px;
  background: none;
}
html #article-edit .wrapper .row-edit-btn .btn-edit:hover,
body #article-edit .wrapper .row-edit-btn .btn-edit:hover {
  background: #101bb5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #ffffff;
}
html #article-edit .wrapper .row-edit-btn .btn-delete:hover,
body #article-edit .wrapper .row-edit-btn .btn-delete:hover {
  background: #ff0000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #ffffff;
}
@media screen and (min-width: 200px) and (max-width: 480px) {
  body #promo-block-article .wrapper h1 {
    font-size: 3rem;
  }
}
