#register-modal {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  z-index: 1000;
  background: white;
  left: 50%;
  top: 10%;
  width: 310px;
  height: 310px;
  border: 2px solid;
  border-radius: 5px;
  display: none;
}
#register-modal .auth-icon-modal-cms {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: calc(100% - 20px);
  top: 10px;
  width: 25px;
  height: 25px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}
#register-modal .auth-icon-modal-cms .auth-modal-close-cms::before,
#register-modal .auth-icon-modal-cms .auth-modal-close-cms::after,
#register-modal .auth-icon-modal-cms .auth-modal-close-cms::before,
#register-modal .auth-icon-modal-cms .auth-modal-close-cms::after {
  content: '';
  display: block;
  position: absolute;
  width: 25px;
  height: 2px;
  background: #7b7a99;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#register-modal .auth-icon-modal-cms .auth-modal-close-cms::before {
  top: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#register-modal .auth-icon-modal-cms .auth-modal-close-cms::after {
  top: 20px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
#register-modal #register-form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: grid;
}
#register-modal #register-form h2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}
#register-modal #register-form .input-fields {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px 0;
}
#register-modal #register-form .input-fields input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid;
  border-radius: 3px;
  width: 240px;
  padding: 5px 0 5px 10px;
}
#register-modal #register-form .input-fields button {
  width: 240px;
}
.success-message {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 50px;
  left: 20px;
  right: 20px;
  top: 20px;
  z-index: 100000;
  position: absolute;
  padding: 15px 20px;
  background: #e3fdb8;
  border: 2px solid #7fa740;
  border-radius: 7px;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.success-strong {
  color: #7fa740;
}
.error-message {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 50px;
  left: 20px;
  right: 20px;
  top: 20px;
  z-index: 100000;
  position: absolute;
  padding: 15px 20px;
  background: #f19e8f;
  border: 2px solid #dd5634;
  border-radius: 7px;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.error-strong {
  color: #dd5634;
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    z-index: 100000;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    z-index: 100000;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
.lang-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  border: none;
  outline: none;
}
.input-file-container {
  position: relative;
  width: 225px;
}
