html .wrapper-web-gl,
body .wrapper-web-gl {
  position: relative;
  overflow: hidden;
}
html .wrapper-web-gl #company-history,
body .wrapper-web-gl #company-history {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
html .wrapper-web-gl #company-history h1,
body .wrapper-web-gl #company-history h1 {
  font-family: 'Vogue Highline Serif';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  font-size: 6.938rem;
  line-height: 7.5rem;
  padding-bottom: 90px;
}
html .wrapper-web-gl #company-history .company-history-items .main-header,
body .wrapper-web-gl #company-history .company-history-items .main-header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 25px;
  line-height: 35px;
}
html .wrapper-web-gl #company-history .company-history-items .company-history-item h2,
body .wrapper-web-gl #company-history .company-history-items .company-history-item h2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 40px;
  padding-top: 30px;
}
html .wrapper-web-gl #company-history .company-history-items .company-history-item p,
body .wrapper-web-gl #company-history .company-history-items .company-history-item p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 19px;
  line-height: 30px;
  margin-bottom: 45px;
  padding-bottom: 0;
}
html .wrapper-web-gl #employee-galery,
body .wrapper-web-gl #employee-galery {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html .wrapper-web-gl #employee-galery .employee-galery-items,
body .wrapper-web-gl #employee-galery .employee-galery-items {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
html .wrapper-web-gl #employee-galery .employee-galery-items .employee-galery-item,
body .wrapper-web-gl #employee-galery .employee-galery-items .employee-galery-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  height: 470px;
  margin-bottom: 60px;
}
html .wrapper-web-gl #employee-galery .employee-galery-items .employee-galery-item .photo,
body .wrapper-web-gl #employee-galery .employee-galery-items .employee-galery-item .photo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 86%;
  width: 100%;
  border-radius: 7px;
}
html .wrapper-web-gl #employee-galery .employee-galery-items .employee-galery-item .employee-galery-item-descr,
body .wrapper-web-gl #employee-galery .employee-galery-items .employee-galery-item .employee-galery-item-descr {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 65px;
}
html .wrapper-web-gl #employee-galery .employee-galery-items .employee-galery-item .employee-galery-item-descr h4,
body .wrapper-web-gl #employee-galery .employee-galery-items .employee-galery-item .employee-galery-item-descr h4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 25px;
}
html .wrapper-web-gl #employee-galery .employee-galery-items .employee-galery-item .employee-galery-item-descr .speciality,
body .wrapper-web-gl #employee-galery .employee-galery-items .employee-galery-item .employee-galery-item-descr .speciality {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.875rem;
  line-height: 1.2rem;
  margin-top: 10px;
}
html .wrapper-web-gl #canvas,
body .wrapper-web-gl #canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
html .wrapper-web-gl .list-item .scene,
body .wrapper-web-gl .list-item .scene {
  width: 410px;
  height: 410px;
  position: absolute;
}
html .wrapper-web-gl .brl-wrap-company0,
body .wrapper-web-gl .brl-wrap-company0 {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 410px;
  height: 410px;
  top: 10%;
  left: -10%;
  z-index: 1000;
}
html .wrapper-web-gl .brl-wrap-company1,
body .wrapper-web-gl .brl-wrap-company1 {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 410px;
  height: 410px;
  top: 25%;
  left: 88%;
  z-index: 1000;
}
html .wrapper-web-gl .brl-wrap-company2,
body .wrapper-web-gl .brl-wrap-company2 {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 410px;
  height: 410px;
  top: 40%;
  left: -10%;
  z-index: 1000;
}
html .wrapper-web-gl .brl-wrap-company3,
body .wrapper-web-gl .brl-wrap-company3 {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 410px;
  height: 410px;
  top: 50%;
  left: 88%;
  z-index: 1000;
}
html .wrapper-web-gl .brl-wrap-company4,
body .wrapper-web-gl .brl-wrap-company4 {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 410px;
  height: 410px;
  top: 65%;
  left: -10%;
  z-index: 1000;
}
