html #header,
body #header,
html #sub-header,
body #sub-header,
html #promo-block,
body #promo-block {
  position: relative;
  z-index: 10000;
}
html #contacts-telephones,
body #contacts-telephones {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 70px;
  position: relative;
  z-index: 10000;
}
html #contacts-telephones .wrapper p,
body #contacts-telephones .wrapper p {
  text-transform: uppercase;
  font-size: 0.875rem;
}
html #contacts-telephones .wrapper .contacts-tel-items,
body #contacts-telephones .wrapper .contacts-tel-items {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
}
html #contacts-telephones .wrapper .contacts-tel-items .contacts-tel-item,
body #contacts-telephones .wrapper .contacts-tel-items .contacts-tel-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin: 0 20px;
}
html #contacts-telephones .wrapper .contacts-tel-items .contacts-tel-item a,
body #contacts-telephones .wrapper .contacts-tel-items .contacts-tel-item a {
  font-size: 1.563rem;
}
html #contacts-telephones .wrapper .contacts-tel-items .contacts-tel-item::before,
body #contacts-telephones .wrapper .contacts-tel-items .contacts-tel-item::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  background: #101bb5;
  right: -24px;
  top: 37px;
}
html #contacts-telephones .wrapper .contacts-tel-items .contacts-tel-item:nth-child(4)::before,
body #contacts-telephones .wrapper .contacts-tel-items .contacts-tel-item:nth-child(4)::before {
  display: none;
}
html #contacts-social-email,
body #contacts-social-email {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 50px;
  z-index: 10000;
  position: relative;
}
html #contacts-social-email .wrapper .contacts-social-items,
body #contacts-social-email .wrapper .contacts-social-items {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
html #contacts-social-email .wrapper .contacts-social-items .contacts-social-item,
body #contacts-social-email .wrapper .contacts-social-items .contacts-social-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100% / 12 * 4);
}
html #contacts-social-email .wrapper .contacts-social-items .contacts-social-item p,
body #contacts-social-email .wrapper .contacts-social-items .contacts-social-item p {
  text-transform: uppercase;
  font-size: 0.875rem;
}
html #contacts-social-email .wrapper .contacts-social-items .contacts-social-item .contacts-email-link a,
body #contacts-social-email .wrapper .contacts-social-items .contacts-social-item .contacts-email-link a {
  color: #ffffff;
  border-bottom: 2px solid #101bb5;
  text-transform: none;
  font-size: 1.563rem;
}
html #contacts-social-email .wrapper .contacts-social-items .contacts-social-item .contacts-facebook-link a,
body #contacts-social-email .wrapper .contacts-social-items .contacts-social-item .contacts-facebook-link a {
  color: #ffffff;
  border-bottom: 2px solid #101bb5;
  text-transform: none;
  font-size: 1.563rem;
}
html #contacts-social-email .wrapper .contacts-social-items .contacts-social-item .contacts-address address,
body #contacts-social-email .wrapper .contacts-social-items .contacts-social-item .contacts-address address {
  line-height: 5rem;
  text-transform: none;
  font-size: 1.563rem;
}
html #contacts-map,
body #contacts-map {
  position: relative;
  width: 100%;
  z-index: 1000;
}
html #contacts-map .wrapper-map,
body #contacts-map .wrapper-map {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  height: 700px;
}
html #contacts-map .wrapper-map #map,
body #contacts-map .wrapper-map #map {
  width: 100%;
  height: 100%;
}
html #contacts-map .wrapper-map .shadow-top,
body #contacts-map .wrapper-map .shadow-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 14px 216px 164px rgba(16, 13, 32, 0.95);
          box-shadow: 0 14px 216px 164px rgba(16, 13, 32, 0.95);
  z-index: 1000;
}
html #contacts-map .wrapper-map .shadow-right,
body #contacts-map .wrapper-map .shadow-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  -webkit-box-shadow: 0 12px 139px 374px rgba(16, 13, 32, 0.7);
          box-shadow: 0 12px 139px 374px rgba(16, 13, 32, 0.7);
  z-index: 1000;
}
html #contacts-map .wrapper-map .shadow-bottom,
body #contacts-map .wrapper-map .shadow-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-box-shadow: 0 14px 216px 164px rgba(16, 13, 32, 0.9);
          box-shadow: 0 14px 216px 164px rgba(16, 13, 32, 0.9);
  z-index: 1000;
}
html #contacts-map .wrapper-map .shadow-left,
body #contacts-map .wrapper-map .shadow-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-box-shadow: 0 12px 139px 374px rgba(16, 13, 32, 0.7);
          box-shadow: 0 12px 139px 374px rgba(16, 13, 32, 0.7);
  z-index: 1000;
}
html #footer,
body #footer {
  z-index: 10000;
}
