html,
body {
  position: relative;
}
html #canvas0,
body #canvas0 {
  position: fixed;
  left: 100px;
  width: 100%;
  height: 100%;
}
html #tax-dispute-promo,
body #tax-dispute-promo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding-bottom: 6.5%;
}
html #tax-dispute-promo .list-item .scene0,
body #tax-dispute-promo .list-item .scene0 {
  width: 410px;
  height: 410px;
  position: absolute;
  top: -80px;
}
html #tax-dispute-promo .brl-item,
body #tax-dispute-promo .brl-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin-top: 200px;
}
html #tax-dispute-promo .brl-item .brl-wrap,
body #tax-dispute-promo .brl-item .brl-wrap {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 410px;
  height: 410px;
}
html #tax-dispute-promo .brl-item .rd-text-text-dispute h1,
body #tax-dispute-promo .brl-item .rd-text-text-dispute h1 {
  font-family: 'Vogue Highline Serif';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  font-size: 6.938rem;
  line-height: 7.5rem;
}
html #tax-dispute-promo .brl-item .rd-text-text-dispute p,
body #tax-dispute-promo .brl-item .rd-text-text-dispute p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.563rem;
  line-height: 2.188rem;
  padding-top: 5%;
}
html #tax-dispute-text-content,
body #tax-dispute-text-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
  padding-top: 5%;
  padding-bottom: 3%;
  position: relative;
}
html #tax-dispute-text-content p,
body #tax-dispute-text-content p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.188rem;
  line-height: 1.875rem;
  color: #100d20;
}
html #tax-dispute-text-content h2,
body #tax-dispute-text-content h2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 2.625rem;
  line-height: 3.125rem;
  color: #100d20;
  font-family: "Museo Sans Cyrl 700";
  margin-top: 5%;
  margin-bottom: 2.5%;
}
html #tax-dispute-text-content .text-content-items,
body #tax-dispute-text-content .text-content-items {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 6% 0;
}
html #tax-dispute-text-content .text-content-items .tax-dispute-quota,
body #tax-dispute-text-content .text-content-items .tax-dispute-quota {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7% 8% 7% 19%;
  border-radius: 10px;
}
html #tax-dispute-text-content .text-content-items .tax-dispute-quota img,
body #tax-dispute-text-content .text-content-items .tax-dispute-quota img {
  position: absolute;
  left: 8%;
}
html #tax-dispute-text-content .text-content-items .disputes-descr,
body #tax-dispute-text-content .text-content-items .disputes-descr {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html #tax-dispute-text-content .text-content-items .disputes-descr p,
body #tax-dispute-text-content .text-content-items .disputes-descr p {
  padding-bottom: 2.5%;
}
html #tax-dispute-text-content .text-content-items .disputes-descr p a,
body #tax-dispute-text-content .text-content-items .disputes-descr p a {
  color: #101bb5;
  border-bottom: 2px solid #101bb5;
  font-size: 1.188rem;
  text-transform: none;
  line-height: 2rem;
}
html #tax-dispute-text-content .text-content-items .disputes-tax-objects,
body #tax-dispute-text-content .text-content-items .disputes-tax-objects {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html #tax-dispute-text-content .text-content-items .disputes-tax-objects h2,
body #tax-dispute-text-content .text-content-items .disputes-tax-objects h2 {
  margin-top: 3%;
}
html #tax-dispute-text-content .text-content-items .disputes-tax-objects ul,
body #tax-dispute-text-content .text-content-items .disputes-tax-objects ul {
  padding-top: 1%;
  padding-bottom: 4%;
}
html #tax-dispute-text-content .text-content-items .disputes-tax-objects ul li,
body #tax-dispute-text-content .text-content-items .disputes-tax-objects ul li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.875rem;
  line-height: 2.5rem;
  color: #100d20;
  text-transform: uppercase;
  position: relative;
}
html #tax-dispute-text-content .text-content-items .disputes-tax-objects ul li::after,
body #tax-dispute-text-content .text-content-items .disputes-tax-objects ul li::after {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 2px;
  background: #101bb5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: -30px;
  top: calc(50% - 2px);
}
html #tax-dispute-text-content .text-content-items .calculation-tax-disputes,
body #tax-dispute-text-content .text-content-items .calculation-tax-disputes {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
html #tax-dispute-text-content .text-content-items .calculation-tax-disputes p,
body #tax-dispute-text-content .text-content-items .calculation-tax-disputes p {
  padding-bottom: 2%;
  letter-spacing: 0.1px;
}
html #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap,
body #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap {
  position: relative;
}
html #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .adaptive-header,
body #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .adaptive-header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
  color: #ffffff;
  text-transform: uppercase;
  background: #ff1f1f;
  font-size: 0.875rem;
  border-radius: 10px;
  width: 150px;
  height: 70px;
  position: absolute;
  text-align: center;
  padding-top: 27px;
}
html #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .adaptive-header-debit,
body #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .adaptive-header-debit {
  top: 6px;
  left: 0;
}
html #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .adaptive-header-credit,
body #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .adaptive-header-credit {
  top: 80px;
  left: 0;
}
html #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .adaptive-header-amount,
body #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .adaptive-header-amount {
  top: 154px;
  left: 0;
}
html #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .adaptive-header-record,
body #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .adaptive-header-record {
  top: 228px;
  left: 0;
}
html #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .dispute-table,
body #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .dispute-table {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin: 0 -2px;
  position: relative;
}
html #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .dispute-table .header-layer,
body #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .dispute-table .header-layer {
  position: absolute;
  left: 20px;
  top: 4px;
  width: 90%;
  height: 70px;
  background: #ff1f1f;
  z-index: 1;
}
html #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .dispute-table .dispute-table-item,
body #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .dispute-table .dispute-table-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100% / 12 * 3 - 4px);
  margin: 0 2px;
  font-size: 0.875rem;
}
html #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .dispute-table .dispute-table-item .dispute-debitor,
body #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .dispute-table .dispute-table-item .dispute-debitor,
html #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .dispute-table .dispute-table-item .dispute-creditor,
body #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .dispute-table .dispute-table-item .dispute-creditor,
html #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .dispute-table .dispute-table-item .dispute-amount,
body #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .dispute-table .dispute-table-item .dispute-amount,
html #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .dispute-table .dispute-table-item .dispute-type-of-record,
body #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .dispute-table .dispute-table-item .dispute-type-of-record {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 70px;
  margin: 4px 0;
  background: #f3f3fb;
  color: #100d20;
  padding-top: 27px;
  border-radius: 10px;
}
html #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .dispute-table .dispute-table-item .dispute-header1,
body #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .dispute-table .dispute-table-item .dispute-header1,
html #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .dispute-table .dispute-table-item .dispute-header2,
body #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .dispute-table .dispute-table-item .dispute-header2,
html #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .dispute-table .dispute-table-item .dispute-header3,
body #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .dispute-table .dispute-table-item .dispute-header3,
html #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .dispute-table .dispute-table-item .dispute-header4,
body #tax-dispute-text-content .text-content-items .calculation-tax-disputes .dispute-table-wrap .dispute-table .dispute-table-item .dispute-header4 {
  color: #ffffff;
  text-transform: uppercase;
  background: #ff1f1f;
  font-size: 0.875rem;
  border-radius: 10px;
  margin-bottom: 10px;
  z-index: 1000;
  position: relative;
}
html .form-dispute-page,
body .form-dispute-page {
  padding-top: 4%;
}
html .form-dispute-page h2,
body .form-dispute-page h2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  margin-bottom: 6%;
}
