html #promo-block,
body #promo-block {
  padding-bottom: 80px;
}
html #promo-block .wrapper,
body #promo-block .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
html #promo-block .wrapper .year-of-news-items,
body #promo-block .wrapper .year-of-news-items {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
html #promo-block .wrapper .year-of-news-items .year-of-news-item,
body #promo-block .wrapper .year-of-news-items .year-of-news-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100% / 12 * 4);
  padding-top: 30px;
  margin-left: 30px;
}
html #promo-block .wrapper .year-of-news-items .year-of-news-item a,
body #promo-block .wrapper .year-of-news-items .year-of-news-item a {
  font-size: 1.563rem;
  cursor: pointer;
  line-height: 5rem;
}
html #all-news,
body #all-news {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
  padding-top: 5%;
  padding-bottom: 3%;
}
html #all-news .news-block,
body #all-news .news-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -42.5px;
}
html #all-news .news-block .news-item,
body #all-news .news-block .news-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100% / 12 * 4 - 85px);
  height: 360px;
  max-width: 250px;
  border-radius: 7px;
  margin: 42.5px;
  position: relative;
  overflow: hidden;
}
html #all-news .news-block .news-item .item,
body #all-news .news-block .news-item .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  z-index: 100;
  position: absolute;
  height: 173px;
  background-size: cover;
}
html #all-news .news-block .news-item .news-descr,
body #all-news .news-block .news-item .news-descr {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  border: 2px solid rgba(16, 13, 32, 0.1);
  border-radius: 7px;
  padding: 25px;
}
html #all-news .news-block .news-item .news-descr a,
body #all-news .news-block .news-item .news-descr a {
  position: absolute;
  text-transform: none;
  font-size: 1.188rem;
  line-height: 1.875rem;
  color: #100d20;
  top: 50%;
  width: calc(100% - 50px);
}
html #all-news .news-block .news-item .news-descr a span,
body #all-news .news-block .news-item .news-descr a span {
  border-bottom: 2px solid #a5a5a8;
}
html #all-news .news-block .news-item .news-descr a span:hover,
body #all-news .news-block .news-item .news-descr a span:hover {
  border-color: #d85425;
}
html #all-news .news-block .news-item .news-descr a:hover,
body #all-news .news-block .news-item .news-descr a:hover {
  color: #d85425;
  border: none;
}
html #all-news .news-block .news-item .news-descr .date-of-news,
body #all-news .news-block .news-item .news-descr .date-of-news {
  color: #a5a5a8;
  position: absolute;
  top: 90%;
  font-size: 0.875rem;
  line-height: 1.875rem;
}
html #news-paginator,
body #news-paginator {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
  padding-top: 1%;
  padding-bottom: 4%;
}
html #news-paginator .news-wrapper,
body #news-paginator .news-wrapper {
  text-align: center;
}
html #news-paginator .news-wrapper .pagination,
body #news-paginator .news-wrapper .pagination {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
html #news-paginator .news-wrapper .pagination .active,
body #news-paginator .news-wrapper .pagination .active,
html #news-paginator .news-wrapper .pagination .disabled,
body #news-paginator .news-wrapper .pagination .disabled {
  opacity: 0.3 !important;
}
html #news-paginator .news-wrapper .pagination li,
body #news-paginator .news-wrapper .pagination li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html #news-paginator .news-wrapper .pagination li a,
body #news-paginator .news-wrapper .pagination li a,
html #news-paginator .news-wrapper .pagination li span,
body #news-paginator .news-wrapper .pagination li span {
  padding: 11px 16px;
  border: 2px solid #dddce5;
  border-radius: 10px;
  color: #100d20;
  margin-right: 5px;
  line-height: 1.875rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html #news-paginator .news-wrapper .pagination li span,
body #news-paginator .news-wrapper .pagination li span {
  padding: 10px 16px !important;
  background: #dddce5 !important;
}
html #news-paginator .news-wrapper .pagination li a:hover,
body #news-paginator .news-wrapper .pagination li a:hover {
  background: #100d20;
  border: 2px solid #100d20;
  color: #ffffff;
}
html #article-create,
body #article-create {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
}
html #article-create .wrapper,
body #article-create .wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html #article-create .wrapper .row-create-btn,
body #article-create .wrapper .row-create-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html #article-create .wrapper .row-create-btn .btn-create,
body #article-create .wrapper .row-create-btn .btn-create {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 30px;
  border: 2px solid #101bb5;
  border-radius: 7px;
}
html #article-create .wrapper .row-create-btn .btn-create:hover,
body #article-create .wrapper .row-create-btn .btn-create:hover {
  background: #101bb5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
