html .profile-wrapper,
body .profile-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 100px;
}
html .main-page-header,
body .main-page-header {
  display: none !important;
}
html .profile-logout-btn,
body .profile-logout-btn {
  display: inline-block !important;
}
html .align-header,
body .align-header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}
html .align-header h2,
body .align-header h2 {
  color: #ffffff;
  padding-top: 15px;
  margin-right: 10px;
}
html .align-header .profile-info-items,
body .align-header .profile-info-items {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  width: 390px;
  padding-top: 23px;
  position: relative;
  padding-left: 35px;
}
html .align-header .profile-info-items .item-top,
body .align-header .profile-info-items .item-top {
  width: 100%;
  height: 11px;
}
html .align-header .profile-info-items .item-middle,
body .align-header .profile-info-items .item-middle {
  margin-right: 15px;
  display: inline-block;
}
html .align-header .profile-info-items .item-bottom,
body .align-header .profile-info-items .item-bottom {
  display: inline-block;
}
html .align-header .profile-info-items .profile-info-item,
body .align-header .profile-info-items .profile-info-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html .align-header .profile-info-items .profile-info-item .prof-item-header,
body .align-header .profile-info-items .profile-info-item .prof-item-header {
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 2.5rem;
  margin-right: 0px;
}
html .align-header .profile-info-items .profile-info-item .prof-item-data,
body .align-header .profile-info-items .profile-info-item .prof-item-data {
  font-size: 0.875rem;
  color: #ffffff;
}
html .align-header .profile-info-items::after,
body .align-header .profile-info-items::after {
  width: 30px;
  height: 30px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  text-align: center;
  line-height: 30px;
  position: absolute;
  display: block;
  content: 'C';
  top: 26px;
  left: -8px;
}
html #profile-status,
body #profile-status {
  background: #f3f3fb;
  padding-top: 4%;
  padding-bottom: 2%;
}
html #profile-status .prof-status-flex,
body #profile-status .prof-status-flex {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
html #profile-status .prof-status-flex .prof-status-header,
body #profile-status .prof-status-flex .prof-status-header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 20px;
}
html #profile-status .prof-status-flex .prof-status-header h2,
body #profile-status .prof-status-flex .prof-status-header h2 {
  color: #100d20;
  padding-top: 0;
  margin-right: 10px;
}
html #profile-status .prof-status-flex .prof-status-header .status-data,
body #profile-status .prof-status-flex .prof-status-header .status-data {
  font-size: 2.625rem;
  line-height: 3.125rem;
  font-family: 'Museo Sans Cyrl 700';
}
html #profile-status .prof-status-flex .prof-status-label,
body #profile-status .prof-status-flex .prof-status-label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
  font-size: 0.875rem;
  padding-top: 11px;
}
html #profile-status .prof-status-flex .prof-status-label span,
body #profile-status .prof-status-flex .prof-status-label span {
  background: #ffffff;
  padding: 6.5px 7px;
  display: block;
  border-radius: 5px;
  margin-left: 20px;
}
html #adaptive-period-table-header,
body #adaptive-period-table-header {
  display: none;
}
html #adaptive-period-table-header #adaptive-status-arrow-parent,
body #adaptive-period-table-header #adaptive-status-arrow-parent,
html #adaptive-period-table-header #adaptive-load-arrow-parent,
body #adaptive-period-table-header #adaptive-load-arrow-parent,
html #adaptive-period-table-header #adaptive-amount-arrow-parent,
body #adaptive-period-table-header #adaptive-amount-arrow-parent {
  cursor: pointer;
}
html #adaptive-period-table-header #adaptive-name-arrow,
body #adaptive-period-table-header #adaptive-name-arrow,
html #adaptive-period-table-header #adaptive-download-arrow,
body #adaptive-period-table-header #adaptive-download-arrow {
  opacity: 0.2;
}
html #adaptive-period-table-header #adaptive-status-arrow,
body #adaptive-period-table-header #adaptive-status-arrow,
html #adaptive-period-table-header #adaptive-load-arrow,
body #adaptive-period-table-header #adaptive-load-arrow,
html #adaptive-period-table-header #adaptive-amount-arrow,
body #adaptive-period-table-header #adaptive-amount-arrow {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
html #adaptive-period-table-header .rotate-arrow,
body #adaptive-period-table-header .rotate-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
html #period-reports-table,
body #period-reports-table {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f3f3fb;
  padding-bottom: 3%;
}
html #period-reports-table .profile-wrapper .row-items,
body #period-reports-table .profile-wrapper .row-items {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Museo Sans Cyrl 300';
  font-size: 0.875rem;
  line-height: 2.5rem;
  border-radius: 10px;
  background: #ffffff;
  position: relative;
  overflow: hidden;
}
html #period-reports-table .profile-wrapper .row-items .filterable-element,
body #period-reports-table .profile-wrapper .row-items .filterable-element {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative !important;
}
html #period-reports-table .profile-wrapper .row-items .row,
body #period-reports-table .profile-wrapper .row-items .row {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 64px;
  border-top: 2px solid #f3f3fb;
  background: #f4fdf3;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  padding-top: 15px;
  color: #100d20;
}
html #period-reports-table .profile-wrapper .row-items .row:hover,
body #period-reports-table .profile-wrapper .row-items .row:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #fffdf2;
  -webkit-box-shadow: 0px 10px 82px -20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 82px -20px rgba(0, 0, 0, 0.25);
}
html #period-reports-table .profile-wrapper .row-items .row-item5 .table-docs-download-icons,
body #period-reports-table .profile-wrapper .row-items .row-item5 .table-docs-download-icons {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
html #period-reports-table .profile-wrapper .row-items .row-item5 .table-docs-download-icons .download-file,
body #period-reports-table .profile-wrapper .row-items .row-item5 .table-docs-download-icons .download-file {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 10px;
}
html #period-reports-table .profile-wrapper .row-items .row-item5 .table-docs-download-icons .download-file a:hover,
body #period-reports-table .profile-wrapper .row-items .row-item5 .table-docs-download-icons .download-file a:hover {
  border: none;
  display: block;
}
html #period-reports-table .profile-wrapper .row-items .row-item5 .table-docs-download-icons .download-file a,
body #period-reports-table .profile-wrapper .row-items .row-item5 .table-docs-download-icons .download-file a {
  line-height: 3rem;
}
html #period-reports-table .profile-wrapper .row-items .row-item5 .table-docs-download-icons .download-file a img,
body #period-reports-table .profile-wrapper .row-items .row-item5 .table-docs-download-icons .download-file a img {
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
html #period-reports-table .profile-wrapper .row-items .reports-table-header,
body #period-reports-table .profile-wrapper .row-items .reports-table-header {
  text-transform: uppercase;
  background: #ffffff;
  border-radius: 10px;
  color: #63627a;
}
html #period-reports-table .profile-wrapper .row-items .reports-table-header .row-item1,
body #period-reports-table .profile-wrapper .row-items .reports-table-header .row-item1 {
  padding-left: 27px !important;
}
html #period-reports-table .profile-wrapper .row-items .reports-table-header .row-item5,
body #period-reports-table .profile-wrapper .row-items .reports-table-header .row-item5 {
  opacity: 1 !important;
}
html #period-reports-table .profile-wrapper .row-items .reports-table-header .row-item1,
body #period-reports-table .profile-wrapper .row-items .reports-table-header .row-item1,
html #period-reports-table .profile-wrapper .row-items .reports-table-header .row-item2,
body #period-reports-table .profile-wrapper .row-items .reports-table-header .row-item2,
html #period-reports-table .profile-wrapper .row-items .reports-table-header .row-item3,
body #period-reports-table .profile-wrapper .row-items .reports-table-header .row-item3,
html #period-reports-table .profile-wrapper .row-items .reports-table-header .row-item4,
body #period-reports-table .profile-wrapper .row-items .reports-table-header .row-item4,
html #period-reports-table .profile-wrapper .row-items .reports-table-header .row-item5,
body #period-reports-table .profile-wrapper .row-items .reports-table-header .row-item5 {
  position: relative;
}
html #period-reports-table .profile-wrapper .row-items .reports-table-header .row-item1 img,
body #period-reports-table .profile-wrapper .row-items .reports-table-header .row-item1 img,
html #period-reports-table .profile-wrapper .row-items .reports-table-header .row-item2 img,
body #period-reports-table .profile-wrapper .row-items .reports-table-header .row-item2 img,
html #period-reports-table .profile-wrapper .row-items .reports-table-header .row-item3 img,
body #period-reports-table .profile-wrapper .row-items .reports-table-header .row-item3 img,
html #period-reports-table .profile-wrapper .row-items .reports-table-header .row-item4 img,
body #period-reports-table .profile-wrapper .row-items .reports-table-header .row-item4 img,
html #period-reports-table .profile-wrapper .row-items .reports-table-header .row-item5 img,
body #period-reports-table .profile-wrapper .row-items .reports-table-header .row-item5 img {
  width: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
html #period-reports-table .profile-wrapper .row-items .reports-table-header .not-visible,
body #period-reports-table .profile-wrapper .row-items .reports-table-header .not-visible {
  display: none !important;
}
html #period-reports-table .profile-wrapper .row-items .reports-table-header #status-arrow-parent,
body #period-reports-table .profile-wrapper .row-items .reports-table-header #status-arrow-parent,
html #period-reports-table .profile-wrapper .row-items .reports-table-header #load-arrow-parent,
body #period-reports-table .profile-wrapper .row-items .reports-table-header #load-arrow-parent,
html #period-reports-table .profile-wrapper .row-items .reports-table-header #amount-arrow-parent,
body #period-reports-table .profile-wrapper .row-items .reports-table-header #amount-arrow-parent {
  cursor: pointer;
}
html #period-reports-table .profile-wrapper .row-items .reports-table-header #name-arrow,
body #period-reports-table .profile-wrapper .row-items .reports-table-header #name-arrow,
html #period-reports-table .profile-wrapper .row-items .reports-table-header #download-arrow,
body #period-reports-table .profile-wrapper .row-items .reports-table-header #download-arrow {
  opacity: 0.2;
}
html #period-reports-table .profile-wrapper .row-items .reports-table-header .rotate-arrow,
body #period-reports-table .profile-wrapper .row-items .reports-table-header .rotate-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
html #period-reports-table .profile-wrapper .row-items .reports-table-header:hover,
body #period-reports-table .profile-wrapper .row-items .reports-table-header:hover {
  background: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}
html #period-reports-table .profile-wrapper .row-items .table-item,
body #period-reports-table .profile-wrapper .row-items .table-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
html #period-reports-table .profile-wrapper .row-items .table-item .row-item1,
body #period-reports-table .profile-wrapper .row-items .table-item .row-item1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100% / 25 * 4.4);
  padding-left: 48px;
}
html #period-reports-table .profile-wrapper .row-items .table-item .row-item2,
body #period-reports-table .profile-wrapper .row-items .table-item .row-item2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100% / 25 * 7);
}
html #period-reports-table .profile-wrapper .row-items .table-item .row-item3,
body #period-reports-table .profile-wrapper .row-items .table-item .row-item3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100% / 25 * 4.7);
}
html #period-reports-table .profile-wrapper .row-items .table-item .row-item4,
body #period-reports-table .profile-wrapper .row-items .table-item .row-item4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100% / 25 * 5.5);
}
html #period-reports-table .profile-wrapper .row-items .table-item .row-item5,
body #period-reports-table .profile-wrapper .row-items .table-item .row-item5 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100% / 25 * 3.4);
}
html #period-reports-table .profile-wrapper .back-to-news-link,
body #period-reports-table .profile-wrapper .back-to-news-link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px 0 110px 0;
}
html #period-reports-table .profile-wrapper .back-to-news-link a,
body #period-reports-table .profile-wrapper .back-to-news-link a {
  text-transform: none;
  font-size: 1.188rem;
  line-height: 1.875rem;
  color: #101bb5;
  border-bottom: 2px solid #101bb5;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html #period-reports-table .profile-wrapper .back-to-news-link a img,
body #period-reports-table .profile-wrapper .back-to-news-link a img {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: -25px;
  top: 3px;
}
html #period-reports-table .profile-wrapper .back-to-news-link a:hover,
body #period-reports-table .profile-wrapper .back-to-news-link a:hover {
  color: #101bb5;
  border-bottom: 2px solid #101bb5;
}
html #period-reports-table .profile-wrapper .edit-btn-wrapper,
body #period-reports-table .profile-wrapper .edit-btn-wrapper {
  position: absolute;
  z-index: 10000;
  right: 0;
  top: 0;
  display: block;
  width: 40px;
}
html #period-reports-table .profile-wrapper .edit-btn-wrapper .row-edit-btn,
body #period-reports-table .profile-wrapper .edit-btn-wrapper .row-edit-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 25px;
}
html #period-reports-table .profile-wrapper .edit-btn-wrapper .row-edit-btn .btn-edit,
body #period-reports-table .profile-wrapper .edit-btn-wrapper .row-edit-btn .btn-edit {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40px;
  height: 20px;
  border: 2px solid #101bb5;
  color: #101bb5;
  border-radius: 7px;
  margin-right: 20px;
  background: none;
}
html #period-reports-table .profile-wrapper .edit-btn-wrapper .row-edit-btn .btn-delete,
body #period-reports-table .profile-wrapper .edit-btn-wrapper .row-edit-btn .btn-delete {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40px;
  height: 20px;
  border: 2px solid #d85425;
  color: #d85425;
  border-radius: 7px;
  background: none;
}
html #period-reports-table .profile-wrapper .edit-btn-wrapper .row-edit-btn .btn-edit:hover,
body #period-reports-table .profile-wrapper .edit-btn-wrapper .row-edit-btn .btn-edit:hover {
  background: #101bb5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #ffffff;
}
html #period-reports-table .profile-wrapper .edit-btn-wrapper .row-edit-btn .btn-delete:hover,
body #period-reports-table .profile-wrapper .edit-btn-wrapper .row-edit-btn .btn-delete:hover {
  background: #d85425;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #ffffff;
}
html #report-create,
body #report-create {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f3f3fb;
}
html #report-create .wrapper,
body #report-create .wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html #report-create .wrapper .row-create-btn,
body #report-create .wrapper .row-create-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html #report-create .wrapper .row-create-btn .btn-create,
body #report-create .wrapper .row-create-btn .btn-create {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 30px;
  border: 2px solid #101bb5;
  border-radius: 7px;
}
html #report-create .wrapper .row-create-btn .btn-create:hover,
body #report-create .wrapper .row-create-btn .btn-create:hover {
  background: #101bb5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
html #profile-table-records-paginator,
body #profile-table-records-paginator {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f3f3fb;
  padding-top: 1%;
  padding-bottom: 4%;
}
html #profile-table-records-paginator .profile-wrapper,
body #profile-table-records-paginator .profile-wrapper {
  text-align: center;
}
html #profile-table-records-paginator .profile-wrapper .pagination,
body #profile-table-records-paginator .profile-wrapper .pagination {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
html #profile-table-records-paginator .profile-wrapper .pagination .active,
body #profile-table-records-paginator .profile-wrapper .pagination .active,
html #profile-table-records-paginator .profile-wrapper .pagination .disabled,
body #profile-table-records-paginator .profile-wrapper .pagination .disabled {
  opacity: 0.3 !important;
}
html #profile-table-records-paginator .profile-wrapper .pagination li,
body #profile-table-records-paginator .profile-wrapper .pagination li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html #profile-table-records-paginator .profile-wrapper .pagination li a,
body #profile-table-records-paginator .profile-wrapper .pagination li a,
html #profile-table-records-paginator .profile-wrapper .pagination li span,
body #profile-table-records-paginator .profile-wrapper .pagination li span {
  padding: 11px 16px;
  border: 2px solid #dddce5;
  border-radius: 10px;
  color: #100d20;
  margin-right: 5px;
  line-height: 1.875rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html #profile-table-records-paginator .profile-wrapper .pagination li span,
body #profile-table-records-paginator .profile-wrapper .pagination li span {
  padding: 10px 16px !important;
  background: #dddce5 !important;
}
html #profile-table-records-paginator .profile-wrapper .pagination li a:hover,
body #profile-table-records-paginator .profile-wrapper .pagination li a:hover {
  background: #100d20;
  border: 2px solid #100d20;
  color: #ffffff;
}
html .profile-footer,
body .profile-footer {
  border: none !important;
}
