html, 
body {
    position: relative;

    #canvas2 {
        position: fixed;
        left: 100px;
        width: 100%;
        height: 100%;
    }

    #tax-dispute-promo {
        box-sizing: border-box;
        position: relative;
        padding-bottom: 6.5%;
    
        .list-item .scene2 {
            width: 410px;
            height: 410px;
            position: absolute;
            top: -80px;
        }

        .brl-item {
            box-sizing: border-box;
            position: relative;
            margin-top: 200px;

            .brl-wrap {
                position: absolute;
                box-sizing: border-box;
                width: 410px;
                height: 410px;
            }

            .rd-text-text-dispute {
                h1 {
                    font-family: 'Vogue Highline Serif';
                    box-sizing: border-box;
                    color: rgb(256,256,256);
                    font-size: 6.938rem;
                    line-height: 7.5rem;
                }
        
                p {
                    box-sizing: border-box;
                    font-size: 1.563rem;
                    line-height: 2.188rem;
                    padding-top: 5%;
                }
            }
        }
    }

    #tax-dispute-text-content {
        box-sizing: border-box;
        background: rgb(256, 256, 256);
        padding-top: 5%;
        padding-bottom: 3%;
        position: relative;

        p {
            box-sizing: border-box;
            font-size: 1.188rem;
            line-height: 1.875rem;
            color: rgb(16, 13, 32);
        }

        h2 {
            box-sizing: border-box;
            font-size: 2.625rem;
            line-height: 3.125rem;
            color: rgb(16, 13, 32);
            font-family: "Museo Sans Cyrl 700";
            margin-top: 5%;
            margin-bottom: 2.5%;
        }

        .text-content-items {
            box-sizing: border-box;
            margin: 6% 0;

            .tax-dispute-quota {
                position: relative;
                box-sizing: border-box;
                padding: 7% 8% 7% 19%;
                border-radius: 10px;

                img {
                    position: absolute;
                    left: 8%;
                }
            }

            .disputes-descr {
                box-sizing: border-box;

                p {
                    padding-bottom: 2.5%;

                    a {
                        color: rgb(16, 27, 181);
                        border-bottom: 2px solid rgb(16, 27, 181);
                        font-size: 1.188rem;
                        text-transform: none;
                        line-height: 2rem;
                    }
                }
            }

            .disputes-tax-objects {
                box-sizing: border-box;

                h2 {
                    margin-top: 3%;
                }

                ul {
                    padding-top: 1%;
                    padding-bottom: 4%;

                    li {
                        box-sizing: border-box;
                        font-size: 0.875rem;
                        line-height: 2.5rem;
                        color: rgb(16, 13, 32);
                        text-transform: uppercase;
                        position: relative;
                    }

                    li::after {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 10px;
                        height: 2px;
                        background: rgb(16, 27, 181);
                        box-sizing: border-box;
                        left: -30px;
                        top: calc(~"50% - 2px");
                    }
                }
            }

            .calculation-tax-disputes {
                box-sizing: border-box;
                position: relative;

                p {
                    padding-bottom: 2%;
                    letter-spacing: .1px;
                }

                .dispute-table-wrap {
                    position: relative;

                    .adaptive-header {
                        box-sizing: border-box;
                        display: none;
                        color: rgb(256, 256, 256);
                        text-transform: uppercase;
                        background: rgb(255, 31, 31);
                        font-size: 0.875rem;
                        border-radius: 10px;
                        width: 150px;
                        height: 70px;
                        position: absolute;
                        text-align: center;
                        padding-top: 27px;
                    }

                    .adaptive-header-debit {
                        top: 6px;
                        left: 0;
                    }

                    .adaptive-header-credit {
                        top: 80px;
                        left: 0;
                    }

                    .adaptive-header-amount {
                        top: 154px;
                        left: 0;
                    }

                    .adaptive-header-record {
                        top: 228px;
                        left: 0;
                    }

                    .dispute-table {
                        box-sizing: border-box;
                        display: flex;
                        flex-wrap: wrap;
                        text-align: center;
                        margin: 0 -2px;
                        position: relative;

                        .header-layer {
                            position: absolute;
                            left: 20px;
                            top: 4px;
                            width: 90%;
                            height: 70px;
                            background: rgb(255, 31, 31);
                            z-index: 1;
                        }

                        .dispute-table-item {
                            box-sizing: border-box;
                            width: calc(~"100% / 12 * 3 - 4px");
                            margin: 0 2px;
                            font-size: 0.875rem; 

                            .dispute-debitor,
                            .dispute-creditor,
                            .dispute-amount,
                            .dispute-type-of-record {
                                box-sizing: border-box;
                                height: 70px;
                                margin: 4px 0;
                                background: rgb(243, 243, 251);
                                color: rgb(16, 13, 32);
                                padding-top: 27px;
                                border-radius: 10px;
                            }

                            .dispute-header1,
                            .dispute-header2,
                            .dispute-header3,
                            .dispute-header4 {
                                color: rgb(256, 256, 256);
                                text-transform: uppercase;
                                background: rgb(255, 31, 31);
                                font-size: 0.875rem;
                                border-radius: 10px;
                                margin-bottom: 10px;
                                z-index: 1000;
                                position: relative;
                            }
                        }
                    }
                }
            }
        }
    }

    .form-dispute-page {
        padding-top: 4%;

        h2 {
            box-sizing: border-box;
            color: rgb(256, 256, 256);
            margin-bottom: 6%;
        }
    }
}