html, 
body {
    background: rgb(16, 13, 32);
    box-sizing: border-box;
    font-family: 'Museo Sans Cyrl 300';
    margin: 0 auto;
    font-size: 16px;
    color: #63627a;
    position: relative;

    #tax-dispute-promo {
        overflow-x: hidden;
    }

    #animated_quotes {
        width:200px;
        height:200px;
        position:absolute;
        left:-40px;
        top:-50px;
    }

    .loader {
        background: rgb(255, 255, 255);
        width: 200px;
        height: 200px;
        position: absolute;
        top: -500px;
    }

    .move-city-toggler {
        -webkit-transform: translateX(8px);
        -ms-transform: translateX(8px);
        transform: translateX(8px);
    }

    .move-city-toggler-burger {
        -webkit-transform: translateX(14px);
        -ms-transform: translateX(14px);
        transform: translateX(14px);
    }

    .success-message {
        box-sizing: border-box;
        min-height: 50px;
        left: 20px;
        right: 20px;
        top: 50px;
        z-index: 100;
        position: fixed;
        padding: 15px 20px;
        background: rgb(227, 253, 184);
        border: 2px solid rgb(127, 167, 64);
        border-radius: 7px;
        animation-name: fadeOut;
        animation-timing-function: ease-in-out;
        animation-duration: 4s;
        animation-fill-mode: forwards;
    }
    
    .success-strong {
        color: rgb(127, 167, 64);
    }
    
    .error-message {
        box-sizing: border-box;
        min-height: 50px;
        left: 20px;
        right: 20px;
        top: 50px;
        z-index: 100;
        position: fixed;
        padding: 15px 20px;
        background: #f19e8f;
        border: 2px solid #dd5634;
        border-radius: 7px;
        animation-name: fadeOut;
        animation-timing-function: ease-in-out;
        animation-duration: 4s;
        animation-fill-mode: forwards;
    }
    
    .error-strong {
        color: rgb(221, 86, 52);
    }
    
    @-webkit-keyframes fadeOut {
        from {
          opacity: 1;
        }
      
        to {
          opacity: 0;
        }
    }
      
      @keyframes fadeOut {
        from {
          opacity: 1;
        }
      
        to {
          opacity: 0;
        }
    }

    .major-z-index {
        z-index: 100 !important;
    }

    .languages {
        position: relative;
        box-sizing: border-box;
        top: 27px;
    }

    .input-fields .has-error {
        border: 1px solid rgb(216, 84, 36);
    }

    .login-btn,
    .register-btn,
    .req-email-btn {
        color: rgb(256, 256, 256);
        background: rgb(216, 84, 36);
        text-align: center;
        position: absolute;
        outline: none;
        border: none;
        border-radius: 5px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 110px;
        cursor: pointer;
    }

    .req-email-btn {
        width: 100% !important;
    }

    .register-btn {
        width: 210px !important;
    }

    .login-btn:hover,
    .register-btn:hover {
        color: rgb(256, 256, 256);
        border: none;
        background: rgb(223, 65, 7);
    }

    h2 {
        font-size: 2.625rem;
        line-height: 3.125rem;
        font-family: 'Museo Sans Cyrl 700';
        color: rgb(256,256,256);
        box-sizing: border-box;
        padding-top: 5px;
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Museo Sans Cyrl 300';
        color: rgb(99, 98, 122);
        font-size: 0.875rem;
        line-height: 5rem;
        padding-bottom: 5px;
    }

    .active-link {
        color: rgb(256,256,256) ;
        border-bottom: 2px solid rgb(16, 27, 181);
    }

    .active-link-footer {
        color: rgb(216, 84, 37);
        border-bottom: 2px solid rgb(216, 84, 37);
    }

    .not-visible {
        display: none;
    }
    
    a:hover {
        transition: .2s;
        color: rgb(256,256,256);
        border-bottom: 2px solid rgb(16, 27, 181);
    }
    
    .wrapper {
        box-sizing: border-box;
        margin: 0 auto;
        padding: 0 20%;
    }

    #reset-password-modal {
        display: block !important;
    }

    #auth-modal,
    #reset-password-modal,
    #auth-modal-admin,
    #request-email-modal,
    #register-modal {
        width: 100%;
        position: fixed;
        z-index: 100000;
        background: rgba(16, 13, 32, .5);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;

        .request-email-modal-wrapper {
            height: 305px !important;
        }

        .reset-password-wrapper {
            height: 430px !important;
        }

        .auth-modal-wrapper,
        .reset-password-wrapper,
        .auth-modal-admin-wrapper,
        .register-modal-wrapper,
        .request-email-modal-wrapper {
            box-sizing: border-box;
            position: absolute; 
            height: 410px;
            width: 510px;
            background: rgb(256, 256, 256);
            border-radius: 10px;
            left: calc(~"50% - 255px");
            top: 25%;
            border-radius: 10px;
            overflow: hidden;

            #register-modal-link {
                margin-left: 140px;
                width: 160px;
            }

            .auth-icon-modal {
                box-sizing: border-box;
                position: absolute;
                left: calc(~"100% - 50px");
                top: 45px;
                width: 45px;
                height: 45px;
                transform: translate(-50%, -50%);
                cursor: pointer;

                .auth-modal-close::before,
                .auth-modal-close::after,
                .auth-modal-close::before,
                .auth-modal-close::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 45px;
                    height: 2px;
                    background: rgb(123, 122, 153);
                    transition: .5s;
                }

                .auth-modal-close::before {
                    top: 20px;
                    transform: rotate(45deg);
                }

                .auth-modal-close::after {
                    top: 20px;
                    transform: rotate(135deg);
                }
            }

            #auth-form,
            #auth-form-admin,
            #request-email,
            #reset-password-form,
            #register-form {
                box-sizing: border-box;
    
                h2 {
                    box-sizing: border-box;
                    color: rgb(216, 84, 36);
                    font-size: 2.2rem;
                    padding: 20px 35px;
                    margin-bottom: 40px;
                    background: rgb(245, 245, 245);
                }

                .input-fields {
                    box-sizing: border-box;
                    margin: 0 35px;

                    .user-name,
                    .user-password,
                    .user-email {
                        box-sizing: border-box;
                        display: block;
                        height: 45px;
                        width: 100%;
                        color: rgb(178, 176, 189);
                        font-size: 1.188rem;
                        outline: none;
                        border: 2px solid rgb(178, 176, 189);
                        border-radius: 5px;
                        padding-left: 15px;
                        margin-bottom: 30px;
                    }

                    .user-name::placeholder,
                    .user-password::placeholder,
                    .user-email::placeholder {
                        color: rgb(215, 214, 220);
                    }
                }

                .auth-btn-wrap,
                .req-btn-wrap,
                .register-btn-wrap {
                    box-sizing: border-box;
                    height: 42.5px;
                    margin: 20px 35px 0 35px;
                    position: relative;
                }
            }

            .auth-password-reestablish {
                box-sizing: border-box;
                background: rgb(245, 245, 245);
                height: 55px;
                padding: 0 35px;
                margin-top: 30px;
                
                a {
                    color: rgb(16, 13, 32);
                    text-transform: none;
                    position: relative;
                    font-size: 1rem;
                    font-family: "Museo Sans Cyrl 700";

                    span {
                        position: absolute;
                        left: 35px;
                        top: 20px;
                        width: 175px !important;
                        transition: .3s;
                        line-height: 1rem;
                    }

                    span:hover {
                        color: rgb(216, 84, 36);
                        transition: .5s;
                    }
                }
            }
        }

        .register-modal-wrapper {
            height: 505px;
        }
    }

    #burger-menu-modal {
        box-sizing: border-box;
        width: 100%;
        position: fixed;
        z-index: 100000;
        background: hsl(249, 42%, 9%);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;

        .modal-wrapper {
            box-sizing: border-box;
            margin: 0 auto;
            padding: 0 35px 50px 35px;
            position: absolute; 
            overflow-y: auto;
            top:0;
            right: 0;
            left: 0;
            height: 100%;
            -webkit-overflow-scrolling: touch;

            .burger-icon-modal {
                box-sizing: border-box;
                position: absolute;
                left: calc(~"100% - 70px");
                top: 65px;
                width: 50px;
                height: 50px;
                transform: translate(-50%, -50%);
                cursor: pointer;

                .burger-modal {
                    box-sizing: border-box;
                    width: 50px;
                    height: 2px;
                    background: rgb(256, 256, 256);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: .5s;
                    background: rgba(256, 256, 256, 0);
                }

                .burger-modal::before,
                .burger-modal::after,
                .burger-modal::before,
                .burger-modal::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 50px;
                    height: 2px;
                    background: rgb(256, 256, 256);
                    transition: .5s;
                }

                .burger-modal::before {
                    top: 0;
                    transform: rotate(45deg);
                }

                .burger-modal::after {
                    top: 0;
                    transform: rotate(135deg);
                }
            }

            .languages-modal {
                form {
                    padding-top: 30px;
                    box-sizing: border-box;

                    .lang-btn {
                        box-sizing: border-box;
                        margin-left: 10px;
                        width: 20px;
                        color: rgb(256, 256, 256);
                        cursor: pointer;
                        background: none;
                        border: none;
                        outline: none;
                        margin-right: 25px;
                        font-size: 1.9rem;
                        font-family: 'Museo Sans Cyrl 700';
                    }

                    .lang-btn:hover {
                        color: rgb(16, 27, 181);
                        transition: .3s;
                    }
                }
            }

            .header-menu-modal {
                margin-top: 30px;
                box-sizing: border-box;

                li {
                    text-align: center;

                    a {
                        font-size: 2.3rem;
                        font-family: 'Museo Sans Cyrl 700';
                    }
                }
            }

            .company-directions-modal {
                box-sizing: border-box;
                margin-top: 50px;

                p {
                    font-size: 1.9rem;
                    font-family: 'Museo Sans Cyrl 700';
                    color: rgb(42, 41, 65);
                    text-align: center;
                }
            }

            .directions-items-modal {
                box-sizing: border-box;
                margin-top: 15px;

                .sub-header-menu {
                    box-sizing: border-box;

                    ul {
                        box-sizing: border-box;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;

                        li {
                            width: 33%;
                            text-align: center;

                            a {
                                font-family: 'Museo Sans Cyrl 700';
                                font-size: 1.9rem;
                                text-transform: none;
                            }
                        }

                        .academy-li-modal {
                            width: 40%;
                        }

                        .tax-dispute-li-modal {
                            width: 60%;
                        }
                    }
                }
            }

            #town-of-interest-modal {
                position: absolute;
                box-sizing: border-box;
                font-family: 'Museo Sans Cyrl 700';
                font-size: 1.9rem;
                width: 100%;
                text-align: center;
                left: 0;
                margin-top: 30px;

                .toggle-town-modal {
                    box-sizing: border-box;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
        
                    .batumi-modal {
                        color: rgb(123, 122, 153);
                    }
        
                    .tbilisi-modal {
                        color: rgb(123, 122, 153);
                    }
        
                    /* The switch - the box around the slider */
                    .switch-town-modal {
                        position: relative;
                        display: block;
                        width: 34px;
                        height: 20px;
                        margin: 8px 10px 0 10px;
                        box-sizing: border-box;
        
                        /* Hide default HTML checkbox */
                        input {
                            display: none;
                        }
        
                        /* The slider */
                        .town-slider-modal {
                            position: absolute;
                            cursor: pointer;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: rgb(16, 13, 32);
                            border: 2px solid rgb(123, 122, 153);
                            -webkit-transition: .4s;
                            transition: .4s;
                            box-sizing: border-box;
                        }
                        
                        .town-slider-checked-modal {
                            position: absolute;
                            content: "";
                            height: 12px;
                            width: 12px;        
                            left: 2px;
                            bottom: 2px;
                            background-color: rgb(256, 256, 256);
                            -webkit-transition: .4s;
                            transition: .4s;
                        }
                        
                        /* Rounded sliders */
                        .town-slider-modal,
                        .town-slider-checked-modal {
                            border-radius: 34px;
                        }
                    }
                }

                .active-town.batumi-modal {
                    color: rgb(256, 256, 256);
                }

                .active-town.tbilisi-modal {
                    color: rgb(256, 256, 256);
                }
            }
        }

        .burger-icon-modal.active .burger-modal {
            background: rgba(256, 256, 256, 1);
        }

        .burger-icon-modal.active .burger-modal::before {
            top: -16px;
            transform: rotate(0deg);
        }

        .burger-icon-modal.active .burger-modal::after {
            top: 16px;
            transform: rotate(0deg);
        }
    }

    #burger-menu {
        display: none;
        position: relative;
        z-index: 1000;

        .wrapper-burger-menu {
            box-sizing: border-box;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            padding: 40px 70px;

            .logo {
                box-sizing: border-box;
                width: 50%;
                
                a {
                    display: block;
                    padding: 0;
                    line-height: 0rem;
                    width: 93px;

                    img {
                        height: 57px;
                        width: 140px;
                    }
                }

                a:hover {
                    border: none;
                }
            }

            .client-profile {
                box-sizing: border-box;
                width: 50%;
                margin-right: 10px;
                text-align: center;
                position: relative !important;

                a {
                    padding: 16px 18px;
                    display: inline-block;
                    box-sizing: border-box;
                    border: 2px solid rgb(216, 84, 37);
                    border-radius: 5px;
                    color: rgb(256, 256, 256);
                    line-height: 1rem;
                    transition: .3s;

                    img {
                        width: 20px;
                        height: 20px;
                    }
                }

                a:hover {
                    background: rgb(216, 84, 37);
                }
            }

            .burger-icon {
                position: absolute;
                left: calc(~"100% - 110px");
                top: 50%;
                width: 80px;
                height: 50px;
                transform: translate(-50%, -50%);
                cursor: pointer;

                .burger {
                    width: 80px;
                    height: 2px;
                    background: rgb(256, 256, 256);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: .5s;
                }

                .burger::before,
                .burger::after,
                .burger::before,
                .burger::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 80px;
                    height: 2px;
                    background: rgb(256, 256, 256);
                    transition: .5s;
                }

                .burger::before {
                    top: -17px;
                }

                .burger::after {
                    top: 17px;
                }
            }
        }

        .burger-icon.active .burger {
            background: rgba(0, 0, 0, 0);
        }

        .burger-icon.active .burger::before {
            top: 0;
            transform: rotate(45deg);
        }

        .burger-icon.active .burger::after {
            top: 0;
            transform: rotate(135deg);
        }
    }

    #sub-header {
        position: relative;
        z-index: 1000;

        .wrapper-sub-header {
            box-sizing: border-box;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            .company-directions {
                box-sizing: border-box;
                width: 20%;
                padding-left: 100px;

                p {
                    font-size: 0.875rem;
                    line-height: 5rem;
                    color: #2a2941;
                }
            }

            .align-sub-header {
                box-sizing: border-box;
                width: 60%;
                display: flex;
                justify-content: space-between;

                .directions-items {
                    box-sizing: border-box;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    ul {
                        box-sizing: border-box;
                        display: flex;

                        li {
                            box-sizing: border-box;
                            margin-right: 25px;

                            a {
                                text-transform: none;
                            }
                        }

                        li:nth-child(5) {
                            width: 75px;
                        }
                    }
                }

                .languages {
                    box-sizing: border-box;
                    top: 32px !important;
    
                    form {
                        box-sizing: border-box;
                        display: flex;
                        padding-left: calc(~"100% - 120px");
                        width: 95px;
    
                        .lang-btn {
                            box-sizing: border-box;
                            margin-left: 10px;
                            width: 20px;
                            color: rgb(256, 256, 256);
                            cursor: pointer;
                            font-size: 0.875rem;
                            background: none;
                            border: none;
                            outline: none;
                        }

                        .lang-btn:hover {
                            color: rgb(16, 27, 181);
                            transition: .3s;
                        }
                    }
                }
            }

            #town-of-interest {
                box-sizing: border-box;
                font-size: 0.875rem;
                line-height: 5rem;
                width: 20%;
                padding-right: 100px;
                text-align: right;

                .toggle-town {
                    box-sizing: border-box;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;
        
                    .batumi {
                        color: rgb(123, 122, 153);
                    }
        
                    .tbilisi {
                        color: rgb(123, 122, 153);
                    }
        
                    /* The switch - the box around the slider */
                    .switch-town {
                        position: relative;
                        display: block;
                        width: 26px;
                        height: 18px;
                        margin: 30px 10px 0 10px;
                        box-sizing: border-box;

                        .toggle-city-checkbox {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            z-index: 10000;
                            left: 0;
                            cursor: pointer;
                        }
        
                        /* Hide default HTML checkbox */
                        input {
                            display: none;
                        }
        
                        /* The slider */
                        .town-slider {
                            position: absolute;
                            cursor: pointer;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: rgb(16, 13, 32);
                            border: 2px solid rgb(123, 122, 153);
                            -webkit-transition: .4s;
                            transition: .4s;
                            box-sizing: border-box;
                        }
                        
                        .town-slider-checked {
                            position: absolute;
                            height: 10px;
                            width: 10px;
                            left: 2px;
                            bottom: 2px;
                            background-color: rgb(256, 256, 256);
                            -webkit-transition: .4s;
                            transition: .4s;
                        }
                        
                        /* Rounded sliders */
                        .town-slider-checked,
                        .town-slider  {
                            border-radius: 34px;
                        }
                    }
                }

                .active-town.batumi {
                    color: rgb(256, 256, 256);
                }

                .active-town.tbilisi {
                    color: rgb(256, 256, 256);
                }
            }
        }
    }
    
    #header {
        .wrapper-header {
            box-sizing: border-box;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            padding: 35px 0;
            z-index: 1000;
            position: relative;
        
            .logo {
                box-sizing: border-box;
                width: 20%;
                padding-left: 100px;
                
                a {
                    display: block;
                    padding-top: 15px;

                    img {
                        height: 40px;
                        width: 93px;
                    }
                }

                a:hover {
                    border: none;
                }
            }
        
            .align-header {
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                width: 60%;
        
                .header-menu {
                    box-sizing: border-box;
        
                    ul {
                        box-sizing: border-box;
                        display: flex;
        
                        li {
                            box-sizing: border-box;
                            margin-right: 50px;
                        }
                    }

                    .callback-phone {
                        box-sizing: border-box;
                    }
                }
            }
        
            .client-profile {
                box-sizing: border-box;
                width: 20%;
                padding-right: 100px;
                text-align: right;

                a {
                    padding: 12.5px;
                    box-sizing: border-box;
                    border: 2px solid rgb(216, 84, 37);
                    border-radius: 5px;
                    color: rgb(256, 256, 256);
                    transition: .3s;

                    img {
                        margin-right: 10px;
                    }
                }

                a:hover {
                    background: rgb(216, 84, 37);
                }
            }
        }
    }

    #promo-block {
        h1 {
            font-family: 'Vogue Highline Serif';
            box-sizing: border-box;
            color: rgb(256,256,256);
            font-size: 6.938rem;
            line-height: 7.5rem;
        }

        p {
            box-sizing: border-box;
            font-size: 1.563rem;
            line-height: 2.188rem;
            padding-top: 5%;
        }

        .second-p {
            padding-top: 3%;

            a {
                position: relative;
                margin-left: 10px; 
                z-index: 10000; 
                color: #d85425; 
                font-size: 1.1 rem;
            }
        }
    }

    #brilliant-services {
        box-sizing: border-box;
        margin: 9.5% 0 3% 0;
        position: relative;

        #canvas {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    
        .list-item .scene {
            width: 200px;
            height: 200px;
            position: absolute;
        }

        .brilliants {
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            .purple-brilliant,
            .yellow-brilliant {
                width: calc(~"100% / 12 * 7");
            }

            .orange-brilliant,
            .green-brilliant {
                width: calc(~"100% / 12 * 5");
                margin-top: 40px;
            }

            .red-brilliant {
                width: calc(~"100% / 12 * 4");
            }

            .brl-item {
                box-sizing: border-box;
                padding-bottom: 11.5%;
                position: relative;

                .brl-wrap {
                    position: relative;
                    box-sizing: border-box;
                    width: 200px;
                    height: 200px;

                    img {
                        position: absolute;
                        width: 100%;
                    }
                }

                .prl-text,
                .orng-text,
                .ylw-text,
                .grn-text,
                .rd-text {
                    box-sizing: border-box;
                    position: absolute;
                    width: 320px;
                    
                    a {
                        text-transform: none;

                        h2 {
                            position: absolute;
                            transition: .5s;

                            svg {
                                cursor: pointer;
                                transition: .5s;
                            }
                        }

                        h2:hover {
                            transition: .5s;
                            transform: scale(1.05);   
                        }

                        .move-arrow {
                            transform: translateX(15px);
                            transition: .2s;
                        }
                    }  

                    a:hover {
                        border: none;
                    }
                }

                .prl-text {
                    top: 21%;
                    left: 14%;
                }

                .orng-text {
                    top: 20%;
                    left: 19%;
                    width: 365px;
                }

                .ylw-text {
                    top: 20%;
                    left: 14%;
                }

                .grn-text {
                    top: 38%;
                    left: 19%;
                }

                .rd-text {
                    top: 21%;
                    left: 24%;
                }
            }
        }
    }

    #company-achivments {
        margin-bottom: 8%;

        .achivments-items {
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .achivments-item {
                h2 {
                    color: rgb(216, 84, 37);
                }

                p {
                    font-size: 0.875rem;
                    line-height: 1.5rem;
                }
            }
        }
    }

    #company-offers {
        box-sizing: border-box;
        position: relative;

        .flex-wrap {
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            h2 {
                padding-top: 7px;
            }

            ul {
                box-sizing: border-box;
                display: flex;

                li {
                    box-sizing: border-box;
                    margin-left: 30px;
                    line-height: 5rem;

                    button {
                        background-color: inherit;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        transition: 0.3s;
                        color: rgb(123, 122, 153);
                        text-transform: uppercase;
                        font-size: 0.875rem;
                    }

                    button:hover {
                        transition: .5s;
                        color: rgb(256, 256, 256);
                    }

                    button.active-form-tab {
                        color: rgb(256, 256, 256);
                        border-bottom: 2px solid rgb(16, 27, 181);
                    }
                }
            }

            .first-li-offers {
                margin-left: 0px;
            }
        }
    }

    #order-form,
    #tax-order-form {
        box-sizing: border-box;
        margin-top: 35px;
        margin-bottom: 5%;
        position: relative;

        .tabcontent {
            display: none;
            animation: fadeEffect 1s;
        }

        @keyframes fadeEffect {
            from {opacity: 0;}
            to {opacity: 1;}
        }

        #audit-form,
        #finance-form,
        #guide-form,
        #tax-dispute-form,
        #academy-form,
        #audit-page-form,
        #finance-form,
        #legal-form {
            border: 1px solid rgb(42, 41, 65);
            border-radius: 8px;
            box-sizing: border-box;
            padding: 35px 100px 65px 70px;
            
            label {
                font-size: 1.188rem;
                line-height: 4.5rem;
                color: rgb(123, 122, 153);
            }

            .input-fields {
                box-sizing: border-box;
                display: flex;
                flex-wrap: wrap;
                margin: 0 -12.5px 0 -12.5px;

                input {
                    color: rgb(123, 122, 153);
                    font-size: 1.188rem;
                    line-height: 3rem;
                    background: rgb(16, 13, 32);
                    outline: none;
                    border: 2px solid rgb(42, 41, 65);
                    width: calc(~"100% / 12 * 6 - 25px");
                    box-sizing: border-box;
                    border-radius: 5px;
                    margin: 25px 12.5px 0 12.5px;
                    padding-left: 15px;
                }

                .client-message {
                    color: rgb(123, 122, 153);
                    font-size: 1.188rem;
                    line-height: 3rem;
                    background: rgb(16, 13, 32);
                    outline: none;
                    border: 2px solid rgb(42, 41, 65);
                    width: calc(~"100% - 25px");
                    box-sizing: border-box;
                    border-radius: 5px;
                    margin: 25px 12.5px 0 12.5px;
                    padding-left: 15px;
                }

                .company-name::placeholder,
                .company-phone::placeholder,
                .company-type-of-maintanance::placeholder,
                .company-adress::placeholder,
                .user-email::placeholder,
                .company-email::placeholder,
                .company-pc-programm::placeholder,
                .client-message::placeholder {
                    color: rgb(42, 41, 65);
                }

                .company-name:-ms-input-placeholder,
                .company-phone:-ms-input-placeholder,
                .company-type-of-maintanance:-ms-input-placeholder,
                .company-adress:-ms-input-placeholder,
                .user-email:-ms-input-placeholder,
                .company-email:-ms-input-placeholder,
                .company-pc-programm:-ms-input-placeholder,
                .client-message:-ms-input-placeholder {
                    color: rgb(42, 41, 65);
                }

                .company-name::-ms-input-placeholder,                              
                .company-phone::-ms-input-placeholder,                              
                .company-type-of-maintanance::-ms-input-placeholder,                               
                .company-adress::-ms-input-placeholder,  
                .user-email::-ms-input-placeholder,                            
                .company-email::-ms-input-placeholder,                              
                .company-pc-programm::-ms-input-placeholder,
                .client-message::-ms-input-placeholder {
                    color: rgb(42, 41, 65);
                }

                .user-email {
                    width: 100%;
                }
            }

            .btn-wrap {
                box-sizing: border-box;
                text-align: center;

                .btn-tax-dispute {
                    span:hover {
                        transition: .2s;
                        border-bottom: 2px solid rgb(255, 31, 31);
                    }
                }

                button {
                    box-sizing: border-box;
                    background: rgb(16, 13, 32);
                    border: none;
                    outline: none;
                    margin-top: 5%;

                    span {
                        cursor: pointer;
                        font-size: 2.625rem;
                        line-height: 5rem;
                        font-family: 'Museo Sans Cyrl 700';
                        color: rgb(256,256,256);
                        text-transform: uppercase;
                        padding-bottom: 5px;
                    }

                    span:hover {
                        transition: .2s;
                        border-bottom: 2px solid rgb(16, 27, 181);
                    }
                }
            }
        }

        #guide-form {
            border: none;
            padding: 0;
            position: relative;

            p {
                line-height: 1.875rem;
                color: rgb(123, 122, 153);
                margin-top: 5px;
                margin-bottom: 15px;

                a {
                    line-height: 1.875rem;
                    text-transform: none;
                    color: rgb(16, 27, 181);
                    font-size: 1rem;
                    transition: .3s;
                }

                a:hover {
                    color: rgb(256, 256, 256);
                }
            }

            .select-inputs {
                box-sizing: border-box;
                margin-bottom: 30px;
                background: rgb(24, 20, 40);
                border-radius: 8px;
                padding: 35px 100px 65px 75px;

                .guide-from-header {
                    box-sizing: border-box;
                    font-size: 1.188rem; 
                    line-height: 1.875rem;
                }

                .select-input {
                    box-sizing: border-box;
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 2px solid rgb(42, 41, 65);
                }

                #revenue,
                #assets,
                #average,
                #business {
                    width: 175px;
                    background: rgb(24, 20, 40);
                    outline: none;
                    border: none;
                    color: rgb(123, 122, 153);
                    cursor: pointer;
                }
            }

            .adaptive-header {
                display: none;
            }

            .result-table {
                box-sizing: border-box;
                position: relative; 
                border-radius: 8px;

                .table-item {
                    box-sizing: border-box;
                    display: flex;

                    .row-item1,
                    .row-item2,
                    .row-item3,
                    .row-item4,
                    .row-item5,
                    .row-item6 {
                        box-sizing: border-box;
                        width: calc(~"100% / 12 * 2");
                    }
                }

                #result-table-header {
                    box-sizing: border-box;
                    background: rgb(16, 27, 181);
                    color: rgb(255, 255, 255);
                    border-radius: 8px;
                    height: 90px;

                    .row-item1 {
                        position: relative;
                        box-sizing: border-box;

                        span {
                            position: absolute;
                            left: 15px;
                            top: calc(~"50% - 8px");
                            text-transform: uppercase;
                        }
                    }

                    .row-item2,
                    .row-item3,
                    .row-item4,
                    .row-item5,
                    .row-item6 {
                        position: relative;
                        box-sizing: border-box;

                        span {
                            position: absolute;
                            display: block;
                            top: calc(~"50% - 24px");
                            max-width: 155px;
                            text-transform: uppercase;
                        }
                    }
                }

                #category-0,
                #category-1,
                #category-2,
                #category-3,
                #category-4,
                #category-5 {
                    box-sizing: border-box;
                    height: 70px;
                    border-bottom: 2px solid rgb(42, 41, 65);

                    .row-item1 {
                        padding-top: 25px;
                        padding-left: 15px;
                    }

                    .row-item2 {
                        padding-top: 25px;
                    }

                    .row-item3,
                    .row-item4,
                    .row-item5,
                    .row-item6 {
                        padding-top: 5px;

                        img {
                            width: 30px;
                            height: 30px;
                        }

                        .ok-icon {
                            margin-top: 15px;
                        }

                        .not-available-icon {
                            margin-top: 7px;
                        }
                    }
                }

                #category-3,
                #category-4,
                #category-5 {
                    .row-item6 {
                        padding-top: 12px;
                    }
                }

                #category-4,
                #category-5 {
                    .row-item5 {
                        padding-top: 12px;
                    }
                }

                #category-5 {
                    .row-item4 {
                        padding-top: 12px;
                    }
                }

                .matched-category {
                    background: rgb(24, 20, 40);
                }
            }
        }
    }

    #toggle-news-currency {
        box-sizing: border-box;
        background: rgb(256,256,256);
        padding-top: 5%;
        padding-bottom: 3%;

        .toggle-bar {
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 5%;

            .news-toggle {
                color: rgb(123, 122, 153);
            }

            .currency-toggle {
                color: rgb(123, 122, 153);
            }

            /* The switch - the box around the slider */
            .switch {
                position: relative;
                display: block;
                width: 50px;
                height: 30px;
                margin: 17px 30px 0 30px;
                box-sizing: border-box;

                /* Hide default HTML checkbox */
                input {
                    display: none;
                }

                /* The slider */
                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgb(256, 256, 256);
                    border: 2px solid rgb(123, 122, 153);
                    -webkit-transition: .4s;
                    transition: .4s;
                    box-sizing: border-box;
                }
                
                .slider:before {
                    position: absolute;
                    content: "";
                    height: 22px;
                    width: 22px;
                    left: 0px;
                    bottom: 0px;
                    background-color: rgb(16, 13, 32);
                    -webkit-transition: .4s;
                    transition: .4s;
                }
                
                input:checked + .slider:before {
                    -webkit-transform: translateX(20px);
                    -ms-transform: translateX(20px);
                    transform: translateX(20px);
                }
                
                /* Rounded sliders */
                .slider.round {
                    border-radius: 34px;
                }
                
                .slider.round:before {
                    border-radius: 50%;
                    border: 2px solid rgb(256,256,256);
                }
            }
        }

        .active-slider.news-toggle {
            color: rgb(16, 13, 32);
        }

        .active-slider.currency-toggle {
            color: rgb(16, 13, 32);
        }

        .currency-main-wrapper {
            border-radius: 5px;
            border: 2px solid rgb(123, 122, 153);
        }
        
        .news-main-wrapper,
        .currency-main-wrapper {
            box-sizing: border-box;
            max-height: 380px;

            .currency-header {
                .currency-descr,
                .currency-value,
                .currency-rate,
                .currency-change,
                .currency-date {
                    line-height: 3rem !important;
                }
            }

            .currency-item {
                display: flex;
                border-bottom: 1px solid rgb(123, 122, 153);

                span {
                    display: block;
                    margin-left: 15px;
                    text-align: center;
                    line-height: 2rem;
                }

                .currency-descr {
                    box-sizing: border-box;
                    width: 20%;
                    margin-left: 0 !important;
                }

                .currency-value {
                    box-sizing: border-box;
                    width: 10%;
                }

                .currency-rate {
                    box-sizing: border-box;
                    width: 5%;
                }

                .currency-change {
                    box-sizing: border-box;
                    width: 45%;
                }
                
                .currency-date {
                    box-sizing: border-box;
                    width: 20%;
                }
            }

            .currency-item-last {
                border: none !important;
            }

            .news-block {
                box-sizing: border-box;
                max-height: 380px;
                
                .news-item {
                    box-sizing: border-box;
                    height: 380px;
                    border-radius: 7px;
                    margin: 0 10px;
                    position: relative;
                    overflow: hidden;

                    #item1,
                    #item4 {
                        background: url("/img/money_pointer.jpeg") center top no-repeat;
                        background-size: cover;
                    }

                    #item2,
                    #item5 {
                        background: url("/img/ullsize.jpg") center top no-repeat;
                        background-size: cover;
                    }

                    #item3,
                    #item6 {
                        background: url("/img/iphone.jpg") center top no-repeat;
                        background-size: cover;
                    }

                    .item {
                        box-sizing: border-box;
                        width: 100%;
                        z-index: 100;
                        position: absolute;
                        height: 173px;
                    }

                    .news-descr {
                        box-sizing: border-box;
                        height: 100%;
                        border: 2px solid rgba(16, 13, 32, .1);
                        border-radius: 7px;
                        padding: 25px;

                        a {
                            position: absolute;
                            text-transform: none;
                            font-size: 1.188rem;
                            line-height: 1.875rem;
                            color: rgb(16, 13, 32);
                            top: 50%;
                            width: calc(~"100% - 50px");

                            span {
                                border-bottom: 2px solid rgb(165, 165, 168);
                            }

                            span:hover {
                                border-color: rgb(216, 84, 37);
                            }
                        }

                        a:hover {
                            color: rgb(216, 84, 37);
                            border: none;
                        }

                        .date-of-news {
                            color: rgb(165, 165, 168);
                            position: absolute;
                            top: 90%;
                            font-size: 0.875rem;
                            line-height: 1.875rem; 
                        }
                    }
                }
            }
        }
    }

    #useful-docs {
        box-sizing: border-box;
        padding-bottom: 5%;
        background: rgb(256, 256, 256);
        position: relative;
        z-index: 1000;
        overflow: hidden;

        .wrapper {
            .wrap-left-right {
                display: flex;
                margin: 0 -82.5px;

                .left-side {
                    box-sizing: border-box;
                    width: calc(~"100% / 12 * 6 - 165px");
                    margin: 0 82.5px;

                    h2 {
                        padding-top: 9%;
                        padding-bottom: 5%;
                        color: rgb(16, 13, 32);
                        width: 550px;
                    }

                    .docs-items {
                        box-sizing: border-box;
                        display: flex;
                        flex-wrap: wrap;
                        margin: 0 -20px;

                        a {
                            border: none;
                            line-height: 3.125rem;
                            width: calc(~"100% / 12 * 6 - 40px");
                            margin: 0 20px;
                            display: block;

                            .docs-item {
                                display: flex;
                                box-sizing: border-box;

                                
                                span {
                                    color: rgb(16, 13, 32);
                                    text-transform: none;
                                    font-size: 1.188rem;
                                    line-height: 1.5rem;
                                    display: block;
                                }

                                .download-link {
                                    border-bottom: 2px solid rgb(165, 165, 168);
                                    padding-top: 15px;
                                }

                                .download-link:hover {
                                    color: rgb(216, 84, 37);
                                    border-color: rgb(216, 84, 37);
                                }

                                img {
                                    box-sizing: border-box;
                                    margin: 15px 20px 15px 0;
                                }
                            }
                        }
                    }
                }

                .right-side {
                    box-sizing: border-box;
                    width: calc(~"100% / 12 * 6 - 165px");
                    margin: 0 82.5px;

                    h2 {
                        padding-top: 9%;
                        padding-bottom: 5%;
                        color: rgb(0, 0, 0);
                        width: 450px;
                    }

                    .links-items {
                        box-sizing: border-box;
                        display: flex;
                        flex-wrap: wrap;
                        margin: 0 -20px;

                        a {
                            border: none;
                            line-height: 3.125rem;
                            box-sizing: border-box;
                            display: block;
                            width: calc(~"100% / 12 * 6 - 40px");
                            margin: 0 20px;

                            .links-item {
                                display: flex;
                                box-sizing: border-box;
                                height: 60px;

                                img {
                                    box-sizing: border-box;
                                    margin-right: 20px;
                                    margin-top: 20px;
                                    height: 20px;
                                }

                                div {
                                    span {
                                        color: rgb(16, 13, 32);
                                        text-transform: none;
                                        font-size: 1.188rem;
                                        display: block;
                                        line-height: 1.5rem;
                                    }

                                    .download-link {
                                        border-bottom: 2px solid rgb(165, 165, 168);
                                        padding-top: 15px;
                                    }

                                    .download-link:hover {
                                        color: rgb(216, 84, 37);
                                        border-color: rgb(216, 84, 37);
                                    }

                                    .link-descr {
                                        display: block;
                                        font-size: 0.875rem;
                                        line-height: 10px;
                                        margin-top: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #partners {
        box-sizing: border-box;
        background: rgb(256, 256, 256);
        padding-bottom: 6%;

        .wrapper {
            overflow: hidden;

            h4 {
                box-sizing: border-box;
                font-size: 0.875rem;
                color: rgb(165, 165, 168);
                margin-bottom: 3%;
            }

            .partners-items {
                box-sizing: border-box;

                .partners-item {
                    box-sizing: border-box;
                    position: relative;
                    height: 160px;
                    width: 160px;

                    svg {
                        width:100%;
                        margin:0 auto;
                    }

                    #hex {
                        stroke-width:1;
                        stroke: rgb(79, 79, 197);
                    }

                    #text {
                        stroke:rgb(79, 79, 197);
                        fill:rgb(79, 79, 197);
                    }
                }
            }

            .prev-partners-btn {
                box-sizing: border-box;
                width: 40px;
                height: 40px;
                border-left: 2px solid rgb(79, 79, 197);
                border-bottom: 2px solid rgb(79, 79, 197);
                transform: rotate(45deg);
                position: absolute;
                left: -50px;
                top: 62px;
                cursor: pointer;
            }

            .next-partners-btn {
                box-sizing: border-box;
                width: 40px;
                height: 40px;
                border-right: 2px solid rgb(79, 79, 197);
                border-bottom: 2px solid rgb(79, 79, 197);
                transform: rotate(-45deg);
                position: absolute;
                right: -50px;
                top: 62px;
                cursor: pointer;
            }
        }
    }

    #footer {
        box-sizing: border-box;
        padding: 1.5% 0;
        background: rgb(256, 256, 256);
        border-top: 1px solid rgba(16, 13, 32, .1);
        position: absolute;
        width: 100%;

        .wrapper-footer {
            box-sizing: border-box;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            .copyright {
                box-sizing: border-box;
                width: 20%;
                padding-left: 100px;
                
                span {
                    display: block;
                    font-size: 0.875rem;
                }

                .copyright-fec {
                    box-sizing: border-box;
                    padding-top: 35px;
                }
            }

            .footer-align {
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                width: 60%;

                .footer-menu {
                    box-sizing: border-box;
        
                    ul {
                        box-sizing: border-box;
                        display: flex;
        
                        li {
                            box-sizing: border-box;
                            margin-right: 50px;
                        }
                    }
                }

                .footer-languages {   
                    margin-top: 31px !important;

                    form {
                        box-sizing: border-box;
                        display: flex;
                        padding-left: calc(~"100% - 120px");
                        width: 95px;
    
                        .lang-btn {
                            box-sizing: border-box;
                            margin-left: 10px;
                            width: 20px;
                            cursor: pointer;
                            color: rgb(99, 98, 122);
                            font-size: 0.875rem;
                            background: none;
                            border: none;
                            outline: none;
                        }

                        .lang-btn:hover {
                            color: rgb(216, 84, 37);
                            transition: .3s;
                        }
                    }
                }
            }

            .iters {
                box-sizing: border-box;
                width: 20%;
                padding-right: 100px;
                text-align: right;
                font-size: 0.875rem;
                position: relative;

                img {
                    position: absolute;
                    width: 32px;
                    height: 32px;
                    top: 24px;
                    left: calc(~"100% - 333px");
                }
            }
        }

        a:hover {
            color: rgb(216, 84, 37);
            border-color: rgb(216, 84, 37);
        }
    }
}