html,
body {
    .ck_img {
        width: 100% !important;
        height: auto !important;
    }

    #promo-block-article {
        .wrapper {
            h1 {
                box-sizing: border-box;
                font-size: 4.313rem;
                line-height: 5.625rem;
                color: rgb(256, 256, 256);
                font-family: 'Vogue Highline Serif';
                margin-bottom: 70px;
            }

            .date-of-article {
                p {
                    box-sizing: border-box;
                    font-size: 1.563rem;
                    margin-bottom: 90px;
                }
            }
        }
    }

    #article-content {
        box-sizing: border-box;
        background: rgb(256, 256, 256);
        padding-top: 90px;

        .wrapper {
            p {
                box-sizing: border-box;
                font-size: 1.188rem;
                line-height: 1.875rem;
                margin-bottom: 25px;
            }

            .back-to-news-link {
                box-sizing: border-box;
                padding: 50px 0 110px 0;

                a {
                    text-transform: none;
                    font-size: 1.188rem;
                    line-height: 1.875rem;
                    color: rgb(16, 27, 181);
                    border-bottom: 2px solid rgb(16, 27, 181);
                    position: relative;
                    box-sizing: border-box;

                    img {
                        position: absolute;
                        box-sizing: border-box;
                        left: -25px;
                        top: 3px;
                    }
                }

                a:hover {
                    color: rgb(16, 27, 181);
                    border-bottom: 2px solid rgb(16, 27, 181);
                }
            }
        }
    }

    #article-edit {
        box-sizing: border-box;
        background: rgb(256, 256, 256);

        .wrapper {
            box-sizing: border-box;
            display: flex;

            .row-edit-btn {
                box-sizing: border-box;
                
                .btn-edit {
                    box-sizing: border-box;
                    padding: 15px 30px;
                    border: 2px solid rgb(16, 27, 181);
                    color: rgb(16, 27, 181);
                    border-radius: 7px;
                    margin-right: 20px;
                    background: none;
                }

                .btn-delete {
                    box-sizing: border-box;
                    padding: 15px 30px;
                    border: 2px solid rgb(255, 0, 0);
                    color: rgb(255, 0, 0);
                    border-radius: 7px;
                    background: none;
                }

                .btn-edit:hover {
                    background: rgb(16, 27, 181);
                    transition: .5s;
                    color: rgb(256, 256, 256);
                }

                .btn-delete:hover {
                    background: rgb(255, 0, 0);
                    transition: .5s;
                    color: rgb(256, 256, 256);
                }

            }
        }
    }
}

@media screen and (min-width: 200px) and (max-width: 480px) {
    body {
        #promo-block-article {
            .wrapper {
                h1 {
                    font-size: 3rem;
                }
            }
        }
    }
}