#register-modal {
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
    background: white;
    left: 50%;
    top: 10%;
    width: 310px;
    height: 310px;
    border: 2px solid;
    border-radius: 5px;
    display: none;

    .auth-icon-modal-cms {
        box-sizing: border-box;
        position: absolute;
        left: calc(~"100% - 20px");
        top: 10px;
        width: 25px;
        height: 25px;
        transform: translate(-50%, -50%);
        cursor: pointer;
    
        .auth-modal-close-cms::before,
        .auth-modal-close-cms::after,
        .auth-modal-close-cms::before,
        .auth-modal-close-cms::after {
            content: '';
            display: block;
            position: absolute;
            width: 25px;
            height: 2px;
            background: rgb(123, 122, 153);
            transition: .5s;
        }
    
        .auth-modal-close-cms::before {
            top: 20px;
            transform: rotate(45deg);
        }
    
        .auth-modal-close-cms::after {
            top: 20px;
            transform: rotate(135deg);
        }
    }

    #register-form {
        justify-content: center;
        display: grid;

        h2 {
            box-sizing: border-box;
            text-align: center;
        }

        .input-fields {
            box-sizing: border-box;
            margin: 10px 0;

            input {
                box-sizing: border-box;
                border: 1px solid;
                border-radius: 3px;
                width: 240px;
                padding: 5px 0 5px 10px;
            }

            button {
                width: 240px;
            }
        }
    }
}

.success-message {
    box-sizing: border-box;
    min-height: 50px;
    left: 20px;
    right: 20px;
    top: 20px;
    z-index: 100000;
    position: absolute;
    padding: 15px 20px;
    background: rgb(227, 253, 184);
    border: 2px solid rgb(127, 167, 64);
    border-radius: 7px;
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.success-strong {
    color: rgb(127, 167, 64);
}

.error-message {
    box-sizing: border-box;
    min-height: 50px;
    left: 20px;
    right: 20px;
    top: 20px;
    z-index: 100000;
    position: absolute;
    padding: 15px 20px;
    background: #f19e8f;
    border: 2px solid #dd5634;
    border-radius: 7px;
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.error-strong {
    color: rgb(221, 86, 52);
}

@-webkit-keyframes fadeOut {
    from {
      opacity: 1;
      z-index: 100000;
    }
  
    to {
      opacity: 0;
      z-index: -1;
    }
}
  
  @keyframes fadeOut {
    from {
      opacity: 1;
      z-index: 100000;
    }
  
    to {
      opacity: 0;
      z-index: -1;
    }
}

.lang-btn {
    box-sizing: border-box;
    background: none;
    border: none;
    outline: none;
}

.input-file-container {
    position: relative;
    width: 225px;
} 