html, 
body {
    .wrapper-web-gl {
        position: relative;
        overflow: hidden;

        #company-history {
            box-sizing: border-box;
            position: relative;

            h1 {
                font-family: 'Vogue Highline Serif';
                box-sizing: border-box;
                color: rgb(256, 256, 256);
                font-size: 6.938rem;
                line-height: 7.5rem;
                padding-bottom: 90px;
            }

            .company-history-items {
                .main-header {
                    box-sizing: border-box;
                    font-size: 25px;
                    line-height: 35px;
                }

                .company-history-item {
                    h2 {
                        box-sizing: border-box;
                        padding-bottom: 40px;
                        padding-top: 30px;
                    }

                    p {
                        box-sizing: border-box;
                        font-size: 19px;
                        line-height: 30px;
                        margin-bottom: 45px;
                        padding-bottom: 0;
                    }
                }
            }
        }

        #employee-galery {
            box-sizing: border-box;

            .employee-galery-items {
                box-sizing: border-box;
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 40px;
                justify-content: space-between;

                .employee-galery-item {
                    box-sizing: border-box;
                    width: 300px;
                    height: 470px;
                    margin-bottom: 60px;

                    .photo {
                        box-sizing: border-box;
                        height: 86%;
                        width: 100%;
                        border-radius: 7px;
                    }

                    .employee-galery-item-descr {
                        box-sizing: border-box;
                        height: 65px;

                        h4 {
                            box-sizing: border-box;
                            margin-top: 25px;
                        }

                        .speciality {
                            box-sizing: border-box;
                            font-size: .875rem;
                            line-height: 1.2rem;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }

        //Animation WebGL for company page

        #canvas {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        .list-item .scene {
            width: 410px;
            height: 410px;
            position: absolute;
        }

        .brl-wrap-company0 {
            position: absolute;
            box-sizing: border-box;
            width: 410px;
            height: 410px;
            top: 10%;
            left: -10%;
            z-index: 1000;
        }

        .brl-wrap-company1 {
            position: absolute;
            box-sizing: border-box;
            width: 410px;
            height: 410px;
            top: 25%;
            left: 88%;
            z-index: 1000;
        }

        .brl-wrap-company2 {
            position: absolute;
            box-sizing: border-box;
            width: 410px;
            height: 410px;
            top: 40%;
            left: -10%;
            z-index: 1000;
        }

        .brl-wrap-company3 {
            position: absolute;
            box-sizing: border-box;
            width: 410px;
            height: 410px;
            top: 50%;
            left: 88%;
            z-index: 1000;
        }

        .brl-wrap-company4 {
            position: absolute;
            box-sizing: border-box;
            width: 410px;
            height: 410px;
            top: 65%;
            left: -10%;
            z-index: 1000;
        }
    }
}