html, 
body {
    #header,
    #sub-header,
    #promo-block {
        position: relative;
        z-index: 10000;
    }

    #contacts-telephones {
        box-sizing: border-box;
        margin-top: 70px;
        position: relative;
        z-index: 10000;

        .wrapper {
            p {
                text-transform: uppercase;
                font-size: .875rem;
            }

            .contacts-tel-items {
                box-sizing: border-box;
                display: flex;
                flex-wrap: wrap;
                margin: 0 -20px;

                .contacts-tel-item {
                    box-sizing: border-box;
                    position: relative;
                    margin: 0 20px;

                    a {
                        font-size: 1.563rem;
                    }
                }

                .contacts-tel-item::before {
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    box-sizing: border-box;
                    border-radius: 50px;
                    background: rgb(16, 27, 181);
                    right: -24px;
                    top: 37px;
                }

                .contacts-tel-item:nth-child(4)::before {
                    display: none;
                }
            }
        }
    }

    #contacts-social-email {
        box-sizing: border-box;
        margin-top: 50px;
        z-index: 10000;
        position: relative;

        .wrapper {
            .contacts-social-items {
                box-sizing: border-box;
                display: flex;
                flex-wrap: wrap;

                .contacts-social-item {
                    box-sizing: border-box;
                    width: calc(~"100% / 12 * 4");

                    p {
                        text-transform: uppercase;
                        font-size: .875rem;
                    }

                    .contacts-email-link {
                        a {
                            color: rgb(256, 256, 256);
                            border-bottom: 2px solid rgb(16, 27, 181);
                            text-transform: none;
                            font-size: 1.563rem;
                        }
                    }

                    .contacts-facebook-link {
                        a {
                            color: rgb(256, 256, 256);
                            border-bottom: 2px solid rgb(16, 27, 181);
                            text-transform: none;
                            font-size: 1.563rem;
                        }
                    }

                    .contacts-address {
                        address {
                            line-height: 5rem;
                            text-transform: none;
                            font-size: 1.563rem;
                        }
                    }
                }
            }
        }
    }

    #contacts-map {
        position: relative;
        width: 100%;
        z-index: 1000;

        .wrapper-map {
            box-sizing: border-box;
            position: relative;
            height: 700px;

            #map {
                width: 100%;
                height: 100%;
            }

            .shadow-top {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                box-shadow: 0 14px 216px 164px rgba(16,13,32,.95);      
                z-index: 1000;
            }

            .shadow-right {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                box-shadow: 0 12px 139px 374px rgba(16,13,32,.7);      
                z-index: 1000;
            }

            .shadow-bottom {
                position: absolute;
                bottom: 0;
                width: 100%;
                box-shadow: 0 14px 216px 164px rgba(16,13,32,.9);      
                z-index: 1000;
            }

            .shadow-left {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                box-shadow: 0 12px 139px 374px rgba(16,13,32,.7);      
                z-index: 1000;
            }
        }
    }

    #footer {
        z-index: 10000;
    }
}