html,
body {
    #promo-block {
        padding-bottom: 80px;

        .wrapper {
            display: flex;
            justify-content: space-between;

            .year-of-news-items {
                box-sizing: border-box;
                display: flex;
                
                .year-of-news-item {
                    box-sizing: border-box;
                    width: calc(~"100% / 12 * 4");
                    padding-top: 30px;
                    margin-left: 30px;

                    a {
                        font-size: 1.563rem;
                        cursor: pointer;
                        line-height: 5rem;
                    }
                }
            }
        }
    }
    
    #all-news {
        box-sizing: border-box;
        background: rgb(256,256,256);
        padding-top: 5%;
        padding-bottom: 3%;

        .news-block {
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            margin: 0 -42.5px;

            .news-item {
                box-sizing: border-box;
                width: calc(~"100% / 12 * 4 - 85px");
                height: 360px;
                max-width: 250px;
                border-radius: 7px;
                margin: 42.5px;
                position: relative;
                overflow: hidden;

                .item {
                    box-sizing: border-box;
                    width: 100%;
                    z-index: 100;
                    position: absolute;
                    height: 173px;
                    background-size: cover;
                }

                .news-descr {
                    box-sizing: border-box;
                    height: 100%;
                    border: 2px solid rgba(16, 13, 32, .1);
                    border-radius: 7px;
                    padding: 25px;

                    a {
                        position: absolute;
                        text-transform: none;
                        font-size: 1.188rem;
                        line-height: 1.875rem;
                        color: rgb(16, 13, 32);
                        top: 50%;
                        width: calc(~"100% - 50px");

                        span {
                            border-bottom: 2px solid rgb(165, 165, 168);
                        }

                        span:hover {
                            border-color: rgb(216, 84, 37);
                        }
                    }

                    a:hover {
                        color: rgb(216, 84, 37);
                        border: none;
                    }

                    .date-of-news {
                        color: rgb(165, 165, 168);
                        position: absolute;
                        top: 90%;
                        font-size: 0.875rem;
                        line-height: 1.875rem; 
                    }
                }
            }
        }
    }

    #news-paginator {
        box-sizing: border-box;
        background: rgb(256, 256, 256);
        padding-top: 1%;
        padding-bottom: 4%;

        .news-wrapper {
            text-align: center;

            .pagination {
                box-sizing: border-box;
                display: flex;
                justify-content: center;

                .active,
                .disabled {
                    opacity: .3 !important;
                }

                li {
                    box-sizing: border-box;

                    a,
                    span {
                        padding: 11px 16px;
                        border: 2px solid rgb(221, 220, 229);
                        border-radius: 10px;
                        color: rgb(16, 13, 32);
                        margin-right: 5px;
                        line-height: 1.875rem;
                        box-sizing: border-box;
                    }

                    span {
                        padding: 10px 16px !important;
                        background: rgb(221, 220, 229) !important;
                    }

                    a:hover {
                        background: rgb(16, 13, 32);
                        border: 2px solid rgb(16, 13, 32);
                        color: rgb(256, 256, 256);
                    }
                }
            }
        }
    }

    #article-create {
        box-sizing: border-box;
        background: rgb(256, 256, 256);

        .wrapper {
            box-sizing: border-box;

            .row-create-btn {
                box-sizing: border-box;
                
                .btn-create {
                    box-sizing: border-box;
                    padding: 15px 30px;
                    border: 2px solid rgb(16, 27, 181);
                    border-radius: 7px;
                }

                .btn-create:hover {
                    background: rgb(16, 27, 181);
                    transition: .5s;
                }
            }
        }
    }
}