html, 
body {
    .profile-wrapper {
        box-sizing: border-box;
        max-width: 1920px;
        margin: 0 auto;
        padding: 0 100px;
    }

    .main-page-header {
        display: none !important;
    }

    .profile-logout-btn {
        display: inline-block !important;
    }

    .align-header {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        width: 60%;

        h2 {
            color: rgb(256, 256, 256);
            padding-top: 15px;
            margin-right: 10px;
        }

        .profile-info-items {
            box-sizing: border-box;
            color: rgb(256, 256, 256);
            width: 390px;
            padding-top: 23px;
            position: relative;
            padding-left: 35px;

            .item-top {
                width: 100%;
                height: 11px;
            }

            .item-middle {
                margin-right: 15px;
                display: inline-block;
            }

            .item-bottom {
                display: inline-block;
            }

            .profile-info-item {
                box-sizing: border-box;

                .prof-item-header {
                    text-transform: uppercase;
                    font-size: 0.875rem;
                    line-height: 2.5rem;
                    margin-right: 0px;
                }

                .prof-item-data {
                    font-size: 0.875rem;
                    color: rgb(256, 256, 256);
                }
            }
        }

        .profile-info-items::after {
            width: 30px;
            height: 30px;
            border: 2px solid rgb(256, 256, 256);
            border-radius: 50px;
            text-align: center;
            line-height: 30px;
            position: absolute;
            display: block;
            content: 'C';
            top: 26px;
            left: -8px;
        }
    }

    // #profile-client-info {
    //     box-sizing: border-box;
    //     background: rgb(256, 256, 256);
    //     padding: 4% 0;
            
    //     .profile-flex {
    //         display: flex;
    //         flex-wrap: wrap;
    //         box-sizing: border-box;

    //         h2 {
    //             color: rgb(16, 13, 32);
    //             padding-top: 15px;
    //         }

    //         .profile-info-items {
    //             box-sizing: border-box;
    //             display: flex;
    //             flex-wrap: wrap;
    //             margin-left: 12.5%;

    //             .profile-info-item {
    //                 box-sizing: border-box;
    //                 margin-right: 70px;
    //                 padding-top: 10px;

    //                 .prof-item-header {
    //                     text-transform: uppercase;
    //                     font-size: 0.875rem;
    //                     line-height: 2.5rem;
    //                     margin-right: 15px;
    //                 }

    //                 .prof-item-data {
    //                     font-size: 0.875rem;
    //                     color: rgb(16, 13, 32);
    //                     line-height: 1.875rem;
    //                 }
    //             }
    //         }
    //     }
    // }

    #profile-status {
        background: rgb(243, 243, 251);
        padding-top: 4%;
        padding-bottom: 2%;

        .prof-status-flex {
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;

            .prof-status-header {
                box-sizing: border-box;
                display: flex;
                flex-wrap: wrap;
                margin-right: 20px;

                h2 {
                    color: rgb(16, 13, 32);
                    padding-top: 0;
                    margin-right: 10px;
                }

                .status-data {
                    font-size: 2.625rem;
                    line-height: 3.125rem;
                    font-family: 'Museo Sans Cyrl 700'; 
                }
            }

            .prof-status-label {
                box-sizing: border-box;
                text-transform: uppercase;
                font-size: 0.875rem;
                padding-top: 11px;

                span {
                    background: rgb(256, 256, 256);
                    padding: 6.5px 7px;
                    display: block;
                    border-radius: 5px;
                    margin-left: 20px;
                }
            }
        }
    }

    #adaptive-period-table-header {
        display: none;

        #adaptive-status-arrow-parent,
        #adaptive-load-arrow-parent,
        #adaptive-amount-arrow-parent {
            cursor: pointer;
        }

        #adaptive-name-arrow,
        #adaptive-download-arrow {
            opacity: .2;
        }

        #adaptive-status-arrow,
        #adaptive-load-arrow,
        #adaptive-amount-arrow {
            transition: .5s;
        }

        .rotate-arrow {
            transform: rotate(180deg);
            transition: .5s;
        }
    }
    
    #period-reports-table {
        box-sizing: border-box;
        background: rgb(243, 243, 251);
        padding-bottom: 3%;

        .profile-wrapper {
            .row-items {
                box-sizing: border-box;
                font-family: 'Museo Sans Cyrl 300';
                font-size: 0.875rem;
                line-height: 2.5rem;
                border-radius: 10px;
                background: rgb(256, 256, 256);
                position: relative;
                overflow: hidden;

                .filterable-element {
                    box-sizing: border-box !important;
                    position: relative !important;
                }

                .row {
                    box-sizing: border-box;
                    height: 64px;
                    border-top: 2px solid rgb(243, 243, 251);
                    background: rgb(244, 253, 243);
                    transition: .7s;
                    padding-top: 15px;
                    color: rgb(16, 13, 32);
                }

                .row:hover {
                    transition: .5s;
                    background: rgb(255, 253, 242);
                    box-shadow: 0px 10px 82px -20px rgba(0,0,0,.25);
                }

                .row-item5 {
                    .table-docs-download-icons {
                        box-sizing: border-box;
                        display: flex;
                        flex-wrap: wrap;

                        .download-file {
                            box-sizing: border-box;
                            margin-right: 10px;

                            a:hover {
                                border: none;
                                display: block;
                            }

                            a {
                                line-height: 3rem;

                                img {
                                    opacity: .5;
                                    transition: .5s;
                                }
                            }
                        }
                    }
                }

                .reports-table-header {
                    text-transform: uppercase;
                    background: rgb(256, 256, 256);
                    border-radius: 10px;
                    color: #63627a;

                    .row-item1 {
                        padding-left: 27px !important;
                    }

                    .row-item5 {
                        opacity: 1 !important;
                    }

                    .row-item1,
                    .row-item2,
                    .row-item3,
                    .row-item4,
                    .row-item5 {
                        position: relative;

                        img {
                            width: 10px;
                            transition: .5s;
                        }
                    }

                    .not-visible {
                        display: none !important;
                    }

                    #status-arrow-parent,
                    #load-arrow-parent,
                    #amount-arrow-parent {
                        cursor: pointer;
                    }

                    #name-arrow,
                    #download-arrow {
                        opacity: .2;
                    }

                    .rotate-arrow {
                        transform: rotate(180deg);
                        transition: .5s;
                    }
                }

                .reports-table-header:hover {
                    background: rgb(256, 256, 256);
                    box-shadow: none;
                }

                .table-item {
                    box-sizing: border-box;
                    display: flex;

                    .row-item1 {
                        box-sizing: border-box;
                        width: calc(~"100% / 25 * 4.4");
                        padding-left: 48px;
                    }

                    .row-item2 {
                        box-sizing: border-box;
                        width: calc(~"100% / 25 * 7");
                    }

                    .row-item3 {
                        box-sizing: border-box;
                        width: calc(~"100% / 25 * 4.7");
                    }

                    .row-item4 {
                        box-sizing: border-box;
                        width: calc(~"100% / 25 * 5.5");
                    }

                    .row-item5 {
                        box-sizing: border-box;
                        width: calc(~"100% / 25 * 3.4");
                    }
                }
            }

            .back-to-news-link {
                box-sizing: border-box;
                padding: 50px 0 110px 0;

                a {
                    text-transform: none;
                    font-size: 1.188rem;
                    line-height: 1.875rem;
                    color: rgb(16, 27, 181);
                    border-bottom: 2px solid rgb(16, 27, 181);
                    position: relative;
                    box-sizing: border-box;

                    img {
                        position: absolute;
                        box-sizing: border-box;
                        left: -25px;
                        top: 3px;
                    }
                }

                a:hover {
                    color: rgb(16, 27, 181);
                    border-bottom: 2px solid rgb(16, 27, 181);
                }
            }

            .edit-btn-wrapper {
                position: absolute;
                z-index: 10000;
                right: 0;
                top: 0;
                display: block;
                width: 40px;
                
                .row-edit-btn {
                    box-sizing: border-box;
                    height: 25px;
                    
                    .btn-edit {
                        box-sizing: border-box;
                        width: 40px;
                        height: 20px;
                        border: 2px solid rgb(16, 27, 181);
                        color: rgb(16, 27, 181);
                        border-radius: 7px;
                        margin-right: 20px;
                        background: none;
                    }

                    .btn-delete {
                        box-sizing: border-box;
                        width: 40px;
                        height: 20px;
                        border: 2px solid rgb(216, 84, 37);
                        color: rgb(216, 84, 37);
                        border-radius: 7px;
                        background: none;
                    }

                    .btn-edit:hover {
                        background: rgb(16, 27, 181);
                        transition: .5s;
                        color: rgb(256, 256, 256);
                    }

                    .btn-delete:hover {
                        background: rgb(216, 84, 37);
                        transition: .5s;
                        color: rgb(256, 256, 256);
                    }
                }
            }
        }
    }

    #report-create {
        box-sizing: border-box;
        background: rgb(243, 243, 251);

        .wrapper {
            box-sizing: border-box;

            .row-create-btn {
                box-sizing: border-box;
                
                .btn-create {
                    box-sizing: border-box;
                    padding: 15px 30px;
                    border: 2px solid rgb(16, 27, 181);
                    border-radius: 7px;
                }

                .btn-create:hover {
                    background: rgb(16, 27, 181);
                    transition: .5s;
                }
            }
        }
    }

    #profile-table-records-paginator {
        box-sizing: border-box;
        background: rgb(243, 243, 251);
        padding-top: 1%;
        padding-bottom: 4%;

        .profile-wrapper {
            text-align: center;

            .pagination {
                box-sizing: border-box;
                display: flex;
                justify-content: center;

                .active,
                .disabled {
                    opacity: .3 !important;
                }

                li {
                    box-sizing: border-box;

                    a,
                    span {
                        padding: 11px 16px;
                        border: 2px solid rgb(221, 220, 229);
                        border-radius: 10px;
                        color: rgb(16, 13, 32);
                        margin-right: 5px;
                        line-height: 1.875rem;
                        box-sizing: border-box;
                    }

                    span {
                        padding: 10px 16px !important;
                        background: rgb(221, 220, 229) !important;
                    }

                    a:hover {
                        background: rgb(16, 13, 32);
                        border: 2px solid rgb(16, 13, 32);
                        color: rgb(256, 256, 256);
                    }
                }
            }
        }
    }

    .profile-footer {
        border: none !important;
    }
}